# Luxembourg GBIF

The following notebook reads species information from PostgreSQL database and update attributes with GRIDCODE, LAT, LON, .. information

## (1) READ and CHECK database

### (1.1) Connect to database

In [1]:

# testing connection
import numpy as np
import pandas as pd
import xarray as x
from configparser import ConfigParser
import sqlalchemy as sa # conection to the database
from sqlalchemy import create_engine, text
from datetime import datetime, timedelta


#import jupysql   #https://ploomber.io/blog/sql-on-jupyter/
### SET conection to MS-sql server:
################################################## SET postgre-sql connection:

################################################## read database keys:

################################################## read database keys:
def config(filename, section='postgresql'):
    # create a parser
    parser = ConfigParser()
    # read config file
    parser.read(filename)

    # get section, default to postgresql
    db = {}
    if parser.has_section(section):
        params = parser.items(section)
        for param in params:
            db[param[0]] = param[1]
    else:
        raise Exception(
            'Section {0} not found in the {1} file'.format(section, filename))

    return db

keys = config(filename='../../../database.ini')

POSTGRESQL_SERVER_NAME=keys['host']
PORT=                  keys['port']
Database_name =        keys['database']
USER =                 keys['user']
PSW =                  keys['password']
##################################################

engine_postgresql = sa.create_engine('postgresql://'+USER+':'+PSW+ '@'+POSTGRESQL_SERVER_NAME+':'+str(PORT)+ '/' + Database_name)
print (engine_postgresql)




print ("Enngine loaded --- next steps can be started!!!!!!!!!!!!!")

Engine(postgresql://manuel:***@5.75.190.71:6947/fairicube)
Enngine loaded --- next steps can be started!!!!!!!!!!!!!

### (1.2) Get database -schema "luxembourg_species" - overview

In [2]:
print ("get database overview")



with engine_postgresql.begin() as conn:
    query = text("""
    
SELECT * FROM information_schema.tables 
WHERE table_schema = 'luxembourg_species' order by table_name
    
    
    """)
    df_overview = pd.read_sql_query(query, conn)
    
    
print (df_overview)

get database overview
  table_catalog        table_schema               table_name  table_type  \
0     fairicube  luxembourg_species              all_species  BASE TABLE
1     fairicube  luxembourg_species           neophytes_list  BASE TABLE
2     fairicube  luxembourg_species           test_neophytes  BASE TABLE
3     fairicube  luxembourg_species      test_neophytes_GBIF  BASE TABLE
4     fairicube  luxembourg_species  test_neophytes_geometry  BASE TABLE

  self_referencing_column_name reference_generation user_defined_type_catalog  \
0                         None                 None                      None
1                         None                 None                      None
2                         None                 None                      None
3                         None                 None                      None
4                         None                 None                      None

  user_defined_type_schema user_defined_type_name is_insertable_into is_typed  \
0                     None                   None                YES       NO
1                     None                   None                YES       NO
2                     None                   None                YES       NO
3                     None                   None                YES       NO
4                     None                   None                YES       NO

  commit_action
0          None
1          None
2          None
3          None
4          None

## (2) check names on GBIF

API https://techdocs.gbif.org/en/openapi/v1/vocabulary

### (2.1) Update list-- check empty whitespaces

SELECT species,

split_part(species, CHR(160), 1) as species_first,
split_part(species, CHR(160), 2) as species_second,

---CONCAT(split_part(species, CHR(160), 1),' ', UPPER(split_part(species, CHR(160), 2)) )as species_name,
CONCAT(split_part(species, CHR(160), 1),' ', UPPER(LEFT(split_part(species, CHR(160), 2),1))    ,SUBSTRING(split_part(species, CHR(160), 2),2,50)  )as species_name,

family, risk_assessment_after_iseia2, risk_assessment_after_harmonia_3, "1st record_in_lu4", listed_in_luxembourg, listed_on_the_list_of_eu_concern5
	FROM luxembourg_species.neophytes_list;

### (2.1) read list as df

In [3]:
print ("reading database to df:")



with engine_postgresql.begin() as conn:
    query = text("""
    
	SELECT *
	FROM luxembourg_species.neophytes_list;
    
    
    """)
    df_species = pd.read_sql_query(query, conn)
    
    
print (df_species)

reading database to df:
                                              species         family  \
0                                     Acer negundo L.      Aceraceae
1                 Ailanthus altissima (Mill.) Swingle  Simaroubaceae
2                          Ambrosia artemisiifolia L.     Asteraceae
3                 Amelanchier lamarckii F.G. Schroed.       Malaceae
4                                Amorpha fruticosa L.       Fabaceae
..                                                ...            ...
68                                Spiraea alba Du Roi       Rosaceae
69                            Spiraea douglasii Hook.       Rosaceae
70                                Syringa vulgaris L.       Oleaceae
71  Viburnum rhytidophyllum Hemsl. ex Forbes & Hemsl.      Adoxaceae
72                                                  _              _

   risk_assessment_after_iseia2 risk_assessment_after_harmonia_3  \
0                            C1                             0.23
1                            C1                             0.42
2                            C1                             0.54
3                            C1                             0.07
4                             _                                _
..                          ...                              ...
68                           C1                             0.16
69                           B0                              0.1
70                           C1                             0.34
71                            _                                _
72                            _                                _

   1st record_in_lu4 listed_in_luxembourg listed_on_the_list_of_eu_concern5  \
0              <1825                    _                                 _
1              <1875                    _                              2019
2               1949                    _                                 _
3               1961                    _                                 _
4               1934                    _                                 _
..               ...                  ...                               ...
68              1882                    _                                 _
69              1847                Alert                                 _
70             <1836                    _                                 _
71              1936                    _                                 _
72                 _                    _                                 _

               species_name
0              Acer Negundo
1       Ailanthus Altissima
2   Ambrosia Artemisiifolia
3     Amelanchier Lamarckii
4         Amorpha Fruticosa
..                      ...
68             Spiraea Alba
69        Spiraea Douglasii
70         Syringa Vulgaris
71  Viburnum Rhytidophyllum
72                       _

[73 rows x 8 columns]

In [5]:
df['species_name']

0                Acer Negundo
1         Ailanthus Altissima
2     Ambrosia Artemisiifolia
3       Amelanchier Lamarckii
4           Amorpha Fruticosa
               ...
68               Spiraea Alba
69          Spiraea Douglasii
70           Syringa Vulgaris
71    Viburnum Rhytidophyllum
72                         _
Name: species_name, Length: 73, dtype: object

In [18]:

import json
import ast
from pygbif import species


df = df_species

# Define a function to process each row
def update_column(row):
    # Example logic: concatenate 'name' with 'value'
    search_for_name = f"{row['species_name']}"
    try:
        dump_json= species.name_suggest(q=search_for_name, limit = 1)   ## change limit ..to have a list of names3
        json_string = str(dump_json)
        data_list = ast.literal_eval(json_string)
        key_value = data_list[0].get('genusKey')
        updated_value = key_value
    except:
        updated_value = -99

    #print (key_value)

    
    return updated_value


# Use apply method to update 'new_column'
df['gbif_id2'] = df.apply(update_column, axis=1)

# Print the updated DataFrame
#print(df['gbif_id'])

In [20]:
df

,species,family,risk_assessment_after_iseia2,risk_assessment_after_harmonia_3,1st record_in_lu4,listed_in_luxembourg,listed_on_the_list_of_eu_concern5,species_name,gbif_id2
0,Acer negundo L.,Aceraceae,C1,0.23,<1825,_,_,Acer Negundo,3189834
1,Ailanthus altissima (Mill.) Swingle,Simaroubaceae,C1,0.42,<1875,_,2019,Ailanthus Altissima,3190652
2,Ambrosia artemisiifolia L.,Asteraceae,C1,0.54,1949,_,_,Ambrosia Artemisiifolia,3110576
3,Amelanchier lamarckii F.G. Schroed.,Malaceae,C1,0.07,1961,_,_,Amelanchier Lamarckii,3023817
4,Amorpha fruticosa L.,Fabaceae,_,_,1934,_,_,Amorpha Fruticosa,2965599
...,...,...,...,...,...,...,...,...,...
68,Spiraea alba Du Roi,Rosaceae,C1,0.16,1882,_,_,Spiraea Alba,3026392
69,Spiraea douglasii Hook.,Rosaceae,B0,0.1,1847,Alert,_,Spiraea Douglasii,3026392
70,Syringa vulgaris L.,Oleaceae,C1,0.34,<1836,_,_,Syringa Vulgaris,3172235
71,Viburnum rhytidophyllum Hemsl. ex Forbes & Hemsl.,Adoxaceae,_,_,1936,_,_,Viburnum Rhytidophyllum,2888580
72,_,_,_,_,_,_,_,_,-99

3189834

## (3) Export to database

In [21]:
df.to_sql('neophytes_list_GBIF', engine_postgresql, if_exists='replace', schema='luxembourg_species',index=False)

73