# Luxembourg NEOPYHTES

The following notebook reads species information from PostgreSQL database and update attributes with GRIDCODE, LAT, LON, .. information

## (1) READ and CHECK database

### (1.1) Connect to database

In [2]:

# testing connection
import numpy as np
import pandas as pd
import xarray as x
from configparser import ConfigParser
import sqlalchemy as sa # conection to the database
from sqlalchemy import create_engine, text
from datetime import datetime, timedelta


#import jupysql   #https://ploomber.io/blog/sql-on-jupyter/
### SET conection to MS-sql server:
################################################## SET postgre-sql connection:

################################################## read database keys:

################################################## read database keys:
def config(filename, section='postgresql'):
    # create a parser
    parser = ConfigParser()
    # read config file
    parser.read(filename)

    # get section, default to postgresql
    db = {}
    if parser.has_section(section):
        params = parser.items(section)
        for param in params:
            db[param[0]] = param[1]
    else:
        raise Exception(
            'Section {0} not found in the {1} file'.format(section, filename))

    return db

keys = config(filename='../../../database.ini')

POSTGRESQL_SERVER_NAME=keys['host']
PORT=                  keys['port']
Database_name =        keys['database']
USER =                 keys['user']
PSW =                  keys['password']
##################################################

engine_postgresql = sa.create_engine('postgresql://'+USER+':'+PSW+ '@'+POSTGRESQL_SERVER_NAME+':'+str(PORT)+ '/' + Database_name)
print (engine_postgresql)




print ("Enngine loaded --- next steps can be started!!!!!!!!!!!!!")

Engine(postgresql://manuel:***@5.75.190.71:6947/fairicube)
Enngine loaded --- next steps can be started!!!!!!!!!!!!!

### (1.2) Get database -schema "luxembourg_species" - overview

In [5]:
print ("get database overview")



with engine_postgresql.begin() as conn:
    query = text("""
    
SELECT * FROM information_schema.tables 
WHERE table_schema = 'luxembourg_species' order by table_name
    
    
    """)
    df_overview = pd.read_sql_query(query, conn)
    
    
print (df_overview)

get database overview
  table_catalog        table_schema   table_name  table_type  \
0     fairicube  luxembourg_species  all_species  BASE TABLE
1     fairicube  luxembourg_species    neophytes  BASE TABLE

  self_referencing_column_name reference_generation user_defined_type_catalog  \
0                         None                 None                      None
1                         None                 None                      None

  user_defined_type_schema user_defined_type_name is_insertable_into is_typed  \
0                     None                   None                YES       NO
1                     None                   None                YES       NO

  commit_action
0          None
1          None

## (2) Updated geometry

### (2.1) checking lat lon

In [24]:

## read neo table:
with engine_postgresql.begin() as conn:
    query = text("""
    
SELECT           observation_key, 
                 date_start,
                 date_end, 
                 sample_date, 
                 preferred, 
                 taxon_kingdom, 
                 taxon_phylum, 
                 taxon_class, 
                 taxon_order, 
                 taxon_family, 
                 taxon_genus, 
                 recorders, 
                 determiner, 
                 record_type, 
                 sample_type, 
                 lat   as lat_orig,
                 "long" as lon_orig ,
                 taxon_status, 
                 biotope_name,
                 list, 
                 location_r,
                 location_r_details, 
                 survey, 
                 survey_tag, 
                 survey_run_by,
                 spatial_ref, 
                 spatial_ref_system, 
                 is_point, 
                 "precision", 
                 zero_abundance, 
                 taxon_group, 
                 bird_atlas_code,
                 typestatus, 
                 location
	FROM luxembourg_species.neophytes;
    
    
    """)
    df_neopyhtes = pd.read_sql_query(query, conn)

In [93]:
# Define the projections
import pandas as pd
import psycopg2
import pyproj
import numpy as np

df= df_neopyhtes

proj_wgs84 = pyproj.CRS('EPSG:4326')
proj_luref = pyproj.CRS('EPSG:2169')

# Create a transformer object
transformer = pyproj.Transformer.from_crs(proj_wgs84, proj_luref, always_xy=True)

# Function to transform coordinates
def transform_coords(lat, lon):
    x, y = transformer.transform(lat, lon)
    return x, y


df[['x_epsg2169', 'y_epsg2169']] = df.apply(lambda row: transform_coords(row['lon_orig'], row['lat_orig']), axis=1, result_type='expand')

## change to int:
df['x_epsg2169'] = df['x_epsg2169'].astype('int')
df['y_epsg2169'] = df['y_epsg2169'].astype('int')


### xy should be the bottom left coordinates: -> therefore round to floor
##. 1kmE5432N4321 or 250mE1025N22000 


## set up GRIDNUM for EPSG 2169 100m:
df['gridnum2169_100m_x'] = np.floor(df['x_epsg2169'] /100).astype(int)*100
df['gridnum2169_100m_y'] = np.floor(df['y_epsg2169'] /100).astype(int)*100
df['gridnum2169_100m']  = '100m_x'+ (df['gridnum2169_100m_x']).astype(str) +'_y'+ (df['gridnum2169_100m_y'].astype(str))


## set up GRIDNUM for EPSG 2169 1000m:
df['gridnum2169_1km_x'] = np.floor(df['x_epsg2169'] /1000).astype(int)*1000
df['gridnum2169_1km_y'] = np.floor(df['y_epsg2169'] /1000).astype(int)*1000
df['gridnum2169_1km']  = '1km_x'+ (df['gridnum2169_1km_x']).astype(str) +'_y'+ (df['gridnum2169_1km_y'].astype(str))



#df[['gridnum2169_100m','gridnum2169_100m_x','gridnum2169_100m_y','lat_orig','lon_orig','x_epsg2169', 'y_epsg2169']]
df[['gridnum2169_1km','gridnum2169_1km_x','gridnum2169_1km_y','lat_orig','lon_orig','x_epsg2169', 'y_epsg2169']]

,gridnum2169_1km,gridnum2169_1km_x,gridnum2169_1km_y,lat_orig,lon_orig,x_epsg2169,y_epsg2169
0,1km_x74000_y74000,74000,74000,49.603344,6.088162,74220,74303
1,1km_x74000_y74000,74000,74000,49.603353,6.088182,74221,74304
2,1km_x75000_y74000,75000,74000,49.607000,6.112760,75998,74708
3,1km_x77000_y74000,77000,74000,49.608800,6.134890,77598,74908
4,1km_x76000_y72000,76000,72000,49.582800,6.126610,76998,72016
...,...,...,...,...,...,...,...
753,1km_x75000_y74000,75000,74000,49.600700,6.112770,75998,74008
754,1km_x75000_y74000,75000,74000,49.600700,6.112770,75998,74008
755,1km_x75000_y74000,75000,74000,49.600700,6.112770,75998,74008
756,1km_x76000_y75000,76000,75000,49.609700,6.126590,76998,75008
757,1km_x77000_y78000,77000,78000,49.641200,6.133490,77498,78511

In [74]:
df[['gridnum2169_100m','gridnum2169_100m_x','gridnum2169_100m_y','lat_orig','lon_orig','x_epsg2169', 'y_epsg2169']]

,gridnum2169_100m,gridnum2169_100m_x,gridnum2169_100m_y,lat_orig,lon_orig,x_epsg2169,y_epsg2169
0,100m_x0 74200\n1 74200\n2 76000...,74200,74300,49.603344,6.088162,74220,74303
1,100m_x0 74200\n1 74200\n2 76000...,74200,74300,49.603353,6.088182,74221,74304
2,100m_x0 74200\n1 74200\n2 76000...,76000,74700,49.607000,6.112760,75998,74708
3,100m_x0 74200\n1 74200\n2 76000...,77600,74900,49.608800,6.134890,77598,74908
4,100m_x0 74200\n1 74200\n2 76000...,77000,72000,49.582800,6.126610,76998,72016
...,...,...,...,...,...,...,...
753,100m_x0 74200\n1 74200\n2 76000...,76000,74000,49.600700,6.112770,75998,74008
754,100m_x0 74200\n1 74200\n2 76000...,76000,74000,49.600700,6.112770,75998,74008
755,100m_x0 74200\n1 74200\n2 76000...,76000,74000,49.600700,6.112770,75998,74008
756,100m_x0 74200\n1 74200\n2 76000...,77000,75000,49.609700,6.126590,76998,75008
757,100m_x0 74200\n1 74200\n2 76000...,77500,78500,49.641200,6.133490,77498,78511