# Download Eurostat data via API

If not yet available, install this eurostat api client https://pypi.org/project/eurostat
```!pip install eurostat```

In [11]:
import eurostat
import pandas as pd

In [12]:
# list datasets in the theme Cities and greater cities
toc_df = eurostat.get_toc_df()
cities_toc = eurostat.subset_toc_df(toc_df, "cities and greater cities")
cities_toc

,title,code,type,last update of data,last table structure change,data start,data end
2179,Economy and finance - cities and greater cities,URB_CECFI,dataset,2025-09-03T23:00:00+0200,2025-01-08T11:00:00+0100,1991,2022
2181,Education - cities and greater cities,URB_CEDUC,dataset,2025-09-03T23:00:00+0200,2025-06-24T23:00:00+0200,1990,2024
2183,Fertility and mortality - cities and greater c...,URB_CFERMOR,dataset,2025-09-03T23:00:00+0200,2025-09-03T23:00:00+0200,1990,2024
2185,Living conditions - cities and greater cities,URB_CLIVCON,dataset,2025-09-03T23:00:00+0200,2025-01-08T11:00:00+0100,1989,2024
2187,Labour market - cities and greater cities,URB_CLMA,dataset,2025-09-03T23:00:00+0200,2025-09-03T23:00:00+0200,1989,2024
2189,Population on 1 January by age groups and sex ...,URB_CPOP1,dataset,2025-09-03T23:00:00+0200,2025-06-24T23:00:00+0200,1989,2024
2191,Population by citizenship and country of birth...,URB_CPOPCB,dataset,2025-09-03T23:00:00+0200,2025-06-24T23:00:00+0200,1990,2024
2193,Culture and tourism - cities and greater cities,URB_CTOUR,dataset,2025-09-03T23:00:00+0200,2025-09-03T23:00:00+0200,1990,2024
2196,Culture and tourism - cities and greater cities,URB_CTOUR$DV_168,dataset,2025-09-03T23:00:00+0200,2025-09-03T23:00:00+0200,None,None
2211,Culture and tourism - cities and greater cities,URB_CTOUR$DV_169,dataset,2025-09-03T23:00:00+0200,2025-09-03T23:00:00+0200,None,None
2214,Transport - cities and greater cities,URB_CTRAN,dataset,2025-09-03T23:00:00+0200,2025-01-08T11:00:00+0100,1989,2024
2601,Environment - cities and greater cities,URB_CENV,dataset,2025-09-03T23:00:00+0200,2025-01-08T11:00:00+0100,1989,2023
2605,Population structure - cities and greater cities,URB_CPOPSTR,dataset,2025-09-03T23:00:00+0200,2025-06-24T23:00:00+0200,1989,2024

In [13]:
# which fields?
pars = eurostat.get_pars('URB_CPOP1')
pars

['freq', 'indic_ur', 'cities']

In [14]:
# list all variables in all tables
for table in cities_toc.code:
    variables = eurostat.get_dic(table, "indic_ur", full=False)
    df =  pd.DataFrame(variables, columns =['Variable code', 'Description'])
    # df.to_csv("eurostat_urb_variables.csv", sep=";")
    print(table)
    print(df)

URB_CECFI
  Variable code                                       Description
0       EC2021V                                     All companies
1       EC2039V  Number of  local units - all economic activities
URB_CEDUC
   Variable code                                        Description
0        TE1001V       Number of children 0-4 in day care or school
1        TE1039V  Share of early leavers from education and trai...
2        TE1040V  Share of early leavers from education and trai...
3        TE1041V  Share of early leavers from education and trai...
4        TE1026V  Students in higher education (ISCED level 5-8 ...
5        TE1027V  Students in higher education (ISCED level 5-8 ...
6        TE1028V  Students in higher education (ISCED level 5-8 ...
7        TE2025V  Persons (aged 25-64) with ISCED level 0, 1or 2...
8        TE2028V  Persons (aged 25-64) with ISCED level 3 or 4 a...
9        TE2031V  Persons aged 25-64 with ISCED level 5, 6, 7 or...
10       TE1001I  Number of Children 0-4 in day care (publ.&priv...
11       TE1026I  Share of students in higher education in the t...
12       TE2028I  Proportion of working age population qualified...
13       TE2031I  Proportion of population aged 25-64 qualified ...
URB_CFERMOR
   Variable code                                        Description
0        SA2004V                          Infant Mortality per year
1        SA2007V                     Number of live births per year
2        SA2013V  Number of deaths per year under 65 due to dise...
3        SA2016V                     Total deaths under 65 per year
4        SA2017V               Total deaths under 65 per year, male
5        SA2018V             Total deaths under 65 per year, female
6        SA2019V                              Total deaths per year
7        SA2020V                        Total deaths per year, male
8        SA2021V                      Total deaths per year, female
9        SA2029I            Crude death rate (per 1000 inhabitants)
10       SA2007I            Crude birth rate (per 1000 inhabitants)
11       SA2004I       Infant mortality rate (per 1000 live births)
12       SA2010V  Number of adolescent births  (from mothers age...
URB_CLIVCON
   Variable code                                        Description
0        DE3001V  Private households (excluding institutional ho...
1        DE3017V  Population living in private households (exclu...
2        DE3002V                              One person households
3        DE3005V  Lone parent private households (with children ...
4        DE3008V   Lone pensioner (above retirement age) households
5        DE3011V        Households with children aged 0 to under 18
6        SA1001V                   Number of conventional dwellings
7        SA1004V                                   Number of houses
8        SA1005V                               Number of apartments
9        SA1007V              Number of households living in houses
10       SA1008V          Number of households living in apartments
11       SA1011V               Households owning their own dwelling
12       SA1012V                       Households in social housing
13       SA1013V               Households in private rented housing
14       SA1029V  Number of people in accommodation for the home...
15       SA1050V             Average price for buying a house - EUR
16       SA1051V        Average price for buying an apartment - EUR
17       SA1049V       Average annual rent for housing per m² - EUR
18       SA1018V                  Dwellings lacking basic amenities
19       SA1025V                       Empty conventional dwellings
20       SA1022V   Average area of living accommodation - m²/person
21       SA3005V               Number of murders and violent deaths
22       EC3039V    Median disposable annual household income - EUR
23       EC3040V   Average disposable annual household income - EUR
24       EC3064V  Share of persons living in households with ver...
25       EC3065V  Share of persons at risk of poverty after soci...
26       EC3066V   Share of severely materially deprived persons -%
27       EC3067V  Share of persons at risk of poverty or social ...
28       DE3004I                         Average size of households
29       DE3002I  Proportion of households that are 1-person hou...
30       DE3005I  Proportion of households that are lone-parent ...
31       DE3008I  Proportion of households that are lone-pension...
32       DE3011I   Proportion of households with children aged 0-17
33       DE3016I  Lone parent households per 100 households with...
34       SA1011I  Proportion of households living in owned dwell...
35       SA1007I          Proportion of households living in houses
36       SA1008I      Proportion of households living in apartments
37       SA1052V      Average price for buying a house per m2 - EUR
38       SA1053V  Average price for buying an apartment  per m2 ...
URB_CLMA
   Variable code                                        Description
0        EC1002V               Economically active population, male
1        EC1003V             Economically active population, female
2        EC1174V       Economically active population, 20-64, total
3        EC1175V        Economically active population, 20-64, male
4        EC1176V      Economically active population, 20-64, female
5        EC1145V       Economically active population, 55-64, total
6        EC1146V        Economically active population, 55-64, male
7        EC1147V      Economically active population, 55-64, female
8        EC1010V                          Persons unemployed, total
9        EC1011V                           Persons unemployed, male
10       EC1012V                         Persons unemployed, female
11       EC1177V                     Persons employed, 20-64, total
12       EC1178V                      Persons employed, 20-64, male
13       EC1179V                    Persons employed, 20-64, female
14       EC1180V                     Persons employed, 55-64, total
15       EC1181V                      Persons employed, 55-64, male
16       EC1182V                    Persons employed, 55-64, female
17       EC2020V           Total employment/jobs (work place based)
18       EC2008V  Employment (jobs) in agriculture, fishery (NAC...
19       EC2009V  Employment (jobs) in mining, manufacturing, en...
20       EC2022V  Employment (jobs) in construction (NACE Rev. 2...
21       EC2032V  Employment (jobs) in trade, transport, hotels,...
22       EC2033V  Employment (jobs) in information and communica...
23       EC2034V  Employment (jobs) in financial and insurance a...
24       EC2035V  Employment (jobs) in real estate activities (N...
25       EC2036V  Employment (jobs) in professional, scientific ...
26       EC2037V  Employment (jobs) in public administration, de...
27       EC2038V  Employment (jobs) in arts, entertainment and r...
28       EC1020I                                  Unemployment rate
29       EC1011I                            Unemployment rate, male
30       EC1012I                          Unemployment rate, female
31       EC1001I                                      Activity rate
32       EC1002I                                Activity rate, male
33       EC1003I                              Activity rate, female
URB_CPOP1
   Variable code                                        Description
0        DE1001V            Population on the 1st of January, total
1        DE1002V             Population on the 1st of January, male
2        DE1003V           Population on the 1st of January, female
3        DE1040V  Population on the 1st of January, 0-4 years, t...
4        DE1041V  Population on the 1st of January, 0-4 years, male
..           ...                                                ...
70       DE1135V  Population on the 1st of January, 80-84 years,...
71       DE1136V  Population on the 1st of January, 80-84 years,...
72       DE1137V  Population on the 1st of January, 85 years or ...
73       DE1138V  Population on the 1st of January, 85 years or ...
74       DE1139V  Population on the 1st of January, 85 years or ...

[75 rows x 2 columns]
URB_CPOPCB
   Variable code                                        Description
0        DE4001V  Population with the place of residence in the ...
1        DE4002V  Population with the place of residence in anot...
2        DE4003V  Population with the place of residence in anot...
3        DE4004V  Population with the place of residence in anot...
4        DE4005V  Population with the place of residence outside...
5        DE2001V                                          Nationals
6        DE2002V                                      EU foreigners
7        DE2003V                                  Non-EU foreigners
8        DE2008V                                        Native-born
9        DE2009V                                       Foreign-born
10       DE2010V                       Foreign-born in a EU country
11       DE2011V                   Foreign-born in a non-EU country
12       DE2012V                                         Foreigners
13       DE2001I            Nationals as a proportion of population
14       DE2007I           Foreigners as a proportion of population
15       DE2008I          Native-born as a proportion of population
16       DE2009I         Foreign-born as a proportion of population
17       DE2002I        EU foreigners as a proportion of population
18       DE2003I    Non-EU foreigners as a proportion of population
URB_CTOUR
   Variable code                                        Description
0        CR1003V            Number of cinema seats (total capacity)
1        CR1005V                       Cinema attendance (per year)
2        CR1007V               Number of museum visitors (per year)
3        CR1008V                                 Number of theatres
4        CR1010V  Number of public libraries (all distribution p...
5        CR1015V  Number of public swimming pools (indoor and ou...
6        CR2001V  Total nights spent in tourist accommodation es...
7        CR2010V  Nights spent in tourist accommodation establis...
8        CR2011V  Nights spent in tourist accommodation establis...
9        CR2009V  Number of bed-places in tourist accommodation ...
10       CR1003I          Number of cinema seats per 1000 residents
11       CR2011I  Total nights spent in tourist accommodation es...
12       CR2010I        Number of available beds per 1000 residents
URB_CTOUR$DV_168
  Variable code                                        Description
0       CR1003V            Number of cinema seats (total capacity)
1       CR1005V                       Cinema attendance (per year)
2       CR1007V               Number of museum visitors (per year)
3       CR1008V                                 Number of theatres
4       CR1010V  Number of public libraries (all distribution p...
5       CR1003I          Number of cinema seats per 1000 residents
URB_CTOUR$DV_169
  Variable code                                        Description
0       CR1015V  Number of public swimming pools (indoor and ou...
URB_CTRAN
   Variable code                                        Description
0        TT1003V                Share of journeys to work by car -%
1        TT1010V  Share of journeys to work by public transport ...
2        TT1006V        Share of journeys to work by motor cycle -%
3        TT1007V            Share of journeys to work by bicycle -%
4        TT1008V               Share of journeys to work by foot -%
5        TT1012V  Share of journeys to work by car or motor cycl...
6        TT1019V          Average time of journey to work - minutes
7        TT1020V  Average length of journey to work by private c...
8        TT1064V                     People commuting into the city
9        TT1065V                   People commuting out of the city
10       TT1079V  Length of bicycle network (dedicated cycle pat...
11       TT1080V  Cost of a combined monthly ticket (all modes o...
12       TT1081V  Cost of a taxi ride of 5 km to the centre at d...
13       TT1057V                  Number of private cars registered
14       TT1060V                 Number of deaths in road accidents
15       TT1057I      Number of registered cars per 1000 population
16       TT1060I     People killed in road accidents per 10000 pop.
URB_CENV
   Variable code                                        Description
0        EN1002V          Total number of hours of sunshine per day
1        EN1003V     Average temperature of warmest month - degrees
2        EN1004V     Average temperature of coldest month - degrees
3        EN1005V                                Rainfall - litre/m²
4        EN2002V  Number of days ozone O3 concentrations exceed ...
5        EN2003V  Number of hours nitrogen dioxide NO2 concentra...
6        EN2005V  Number of days particulate matter PM10 concent...
7        EN2025V  Accumulated ozone concentration in excess 70 µ...
8        EN2026V        Annual average concentration of NO2 (µg/m³)
9        EN2027V       Annual average concentration of PM10 (µg/m³)
10       EN3003V                            Total use of water - m³
11       EN3012V  Share of population connected to potable drink...
12       EN3013V  Share of population connected to sewerage trea...
13       EN3010V             Price of a m³ of domestic water - Euro
14       EN3011V  Share of the urban waste water load (in popula...
15       EN4008V  Municipal waste generated (domestic and commer...
16       EN5200V  Share of land (%): continuous residential urba...
17       EN5201V  Share of land (%): discontinuous residential u...
18       EN5202V  Share of land (%): industrial, commercial, pub...
19       EN5203V        Share of land (%): transport infrastructure
20       EN5204V          Share of land (%): other artificial areas
21       EN5205V  Share of land (%): green urban areas and sport...
22       EN5206V              Share of land (%): agricultural areas
23       EN5207V                   Share of land (%): natural areas
24       EN2029I  Proportion of residents exposed to air traffic...
25       EN2032I  Proportion of residents exposed to rail traffi...
26       EN2036I  Proportion of residents exposed to rail traffi...
27       EN2033I  Proportion of residents exposed to road traffi...
28       EN2035I  Proportion of residents exposed to road traffi...
URB_CPOPSTR
   Variable code                                        Description
0        DE1073V                              Median population age
1        DE1040I            Proportion of population aged 0-4 years
2        DE1084I            Proportion of population aged 5-9 years
3        DE1085I          Proportion of population aged 10-14 years
4        DE1046I          Proportion of population aged 15-19 years
5        DE1049I          Proportion of population aged 20-24 years
6        DE1073I          Proportion of population aged 25-34 years
7        DE1076I          Proportion of population aged 35-44 years
8        DE1064I          Proportion of population aged 45-54 years
9        DE1025I          Proportion of total population aged 55-64
10       DE1028I          Proportion of population aged 65-74 years
11       DE1055I    Proportion of population aged 75 years and over
12       DE1003I                                  Women per 100 men
13       DE1057I         Women per 100 men - aged 75 years and over
14       DE1061I                      Population change over 1 year
15       DE1058I  Age dependency ratio (population aged 0-19 and...
16       DE1059I  Young-age dependency ratio (population aged 0-...
17       DE1060I  Old age dependency ratio (population 65 and ov...

In [15]:
# load list of selected variables
urb_variables = pd.read_csv("./../../data/city_features_collection/eurostat_urb_selected_variables.csv")
urb_variables = urb_variables[urb_variables.Priority == 1]
urb_var_bytable = urb_variables.groupby("Table")["Variable code"].apply(list).reset_index(name="variables")
urb_var_bytable

         Table                                          variables
0     urb_cenv  [EN1002V, EN1003V, EN1004V, EN3012V, EN3013V, ...
1  urb_clivcon  [EC3039V, EC3040V, EC3064V, EC3065V, SA1001V, ...
2     urb_clma               [EC1145V, EC1174V, EC1177V, EC1180V]
3    urb_ctour                                          [CR1015V]
4    urb_ctran  [TT1019V, TT1020V, TT1060V, TT1064V, TT1065V, ...

In [16]:
# download data to dataframe
print(f"Downloading {urb_var_bytable.head(1).Table} data")
filters = {"indic_ur": urb_var_bytable.head(1).variables.item(),
      "startPeriod": 2004,
      "endPeriod": 2021}
df_all = eurostat.get_data_df(urb_var_bytable.head(1).Table.item(), flags=False, filter_pars=filters, verbose=True, reverse_time=False)
for row in urb_var_bytable[1:].itertuples():
    print(f"Downloading {row.Table} data")
    filters = {"indic_ur": row.variables,
          "startPeriod": 2004,
          "endPeriod": 2021}
    df_urb = eurostat.get_data_df(row.Table, flags=False, filter_pars=filters, verbose=True, reverse_time=False)

    if not df_urb.empty and not df_urb.isna().all().all():
      f_all = pd.concat([df_all, df_urb])

Downloading 0    urb_cenv
Name: Table, dtype: object data
Download progress: 100.0%

Downloading urb_clivcon data
Download progress: 100.0%

Downloading urb_clma data

C:\Users\MariaRicci\AppData\Local\Temp\ipykernel_30028\4030779379.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  f_all = pd.concat([df_all, df_urb])

Download progress: 100.0%

Downloading urb_ctour data

C:\Users\MariaRicci\AppData\Local\Temp\ipykernel_30028\4030779379.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  f_all = pd.concat([df_all, df_urb])

Download progress: 100.0%

Downloading urb_ctran data

C:\Users\MariaRicci\AppData\Local\Temp\ipykernel_30028\4030779379.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  f_all = pd.concat([df_all, df_urb])

Download progress: 100.0%

C:\Users\MariaRicci\AppData\Local\Temp\ipykernel_30028\4030779379.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  f_all = pd.concat([df_all, df_urb])

In [17]:
# check table
df_all

,freq,indic_ur,cities\TIME_PERIOD,2004,2005,2006,2007,2008,2009,2010,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,A,EN1002V,AT001C,5.30,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
1,A,EN1002V,AT002C,5.13,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
2,A,EN1002V,AT003C,4.86,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
3,A,EN1002V,AT004C,4.60,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
4,A,EN1002V,AT005C,5.25,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5400,A,EN5207V,UK119C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
5401,A,EN5207V,UK121C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
5402,A,EN5207V,UK122C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
5403,A,EN5207V,UK124C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
5404,A,EN5207V,UK125C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None

In [18]:
# drop freq column, rename city column
df_all.rename(columns={"indic_ur" : "indic_code", "cities\TIME_PERIOD" : "urau_code"}, inplace=True)
df_all.drop(["freq"], axis=1, inplace=True)
df_all

,indic_code,urau_code,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,EN1002V,AT001C,5.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
1,EN1002V,AT002C,5.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
2,EN1002V,AT003C,4.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
3,EN1002V,AT004C,4.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
4,EN1002V,AT005C,5.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5400,EN5207V,UK119C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
5401,EN5207V,UK121C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
5402,EN5207V,UK122C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
5403,EN5207V,UK124C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
5404,EN5207V,UK125C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None

In [19]:
# save to csv file
df_all.to_csv("./../../data/city_features_collection/eurostat_urb_data_2004_2021.csv", index=False)