## Climate indicator (Thermal comfort index) [outside-EOX]

# this notebooks calcualted the number of days per year of the the different Thermal comfort index classes:
https://cds.climate.copernicus.eu/cdsapp#!/dataset/derived-utci-historical?tab=overview

| UTCI Temp [CÂ°] | UTCI class              |
|----------------|-------------------------|
| >46            | Extreme Heat Stress     |
| 38-46          | Very Strong Heat Stress |
| 32-38          | Strong Heat Stress      |
| 26-32          | Moderate Heat Stress    |
| 9-26           | No Thermal Stress       |
| 0-9            | Slight Cold Stress      |
| -13-0          | Moderate Cold Stress    |
| -27--13        | Strong Cold Stress      |
| -40--27        | Very Strong Cold Stress |
| <-40           | Extreme Cold Stress     |


The values were calculated for the nights: The maximum temperatures between 18h-6h were used.

In [114]:
## reading csv, calc number of night, export dataframe to postgresql year by year to ONE final TABLE :

import numpy as np
import pandas as pd
import xarray as x
from configparser import ConfigParser
import sqlalchemy as sa # conection to the database

from sqlalchemy import create_engine, text
from datetime import datetime, timedelta



print (" import data")
### SET conection to MS-sql server:
################################################## SET postgre-sql connection:

################################################## read database keys:
def config(filename, section='postgresql'):
    # create a parser
    parser = ConfigParser()
    # read config file
    parser.read(filename)

    # get section, default to postgresql
    db = {}
    if parser.has_section(section):
        params = parser.items(section)
        for param in params:
            db[param[0]] = param[1]
    else:
        raise Exception(
            'Section {0} not found in the {1} file'.format(section, filename))

    return db

keys = config(filename='database.ini')

POSTGRESQL_SERVER_NAME=keys['host']
PORT=                  keys['port']
Database_name =        keys['database']
USER =                 keys['user']
PSW =                  keys['password']
##################################################

engine_postgresql = sa.create_engine('postgresql://'+USER+':'+PSW+ '@'+POSTGRESQL_SERVER_NAME+':'+str(PORT)+ '/' + Database_name)
print (engine_postgresql)


connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
connection.commit()


## removing table:...........................................S
query = ("""DROP TABLE IF EXISTS cube.c_utci_indicator  ;""")
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
cursor.execute(query)
connection.commit()
## removing table:...........................................E


################ Reading CSV file to dataframe:

years=[2022,2021,2020,2019,2018]

for year in years:
    print (year)
    
    #df = pd.read_csv(r'N:\C2205_FAIRiCUBE\f02_data\d006_climate_data\f01_thermal_comfort_index\csv\utci_2018_df.csv')
    df = pd.read_csv(r'N:\C2205_FAIRiCUBE\f02_data\d006_climate_data\f01_thermal_comfort_index\csv\utci_'+str(year)+'_df.csv')


    # add datetime to date column:
    df['date'] = pd.to_datetime(df['date'])
    #df.dtypes
    df = df[df['date'].dt.year == int(year)]  # only selected year  

    ## calculate count of days per UTCI_class:
    utci_indicator = df.groupby([df.date.dt.year,"city","utci_class"])["utci_class"].count().reset_index(name="count_days")


    ## export utci_indicator to database

    print ("send table to SQL:")

    # new columns / update columns:

    utci_indicator['year'] = utci_indicator['date']
    utci_indicator['city_code']= utci_indicator['city']
    utci_indicator['city_code_version']= 'ua_2021'
    utci_indicator['parameter']= 'Number days per year of UTCI-class (derived from max. night temperatures): ' + utci_indicator['utci_class']
    utci_indicator['parameter_value']= utci_indicator['count_days']

    utci_indicator['lineage']= 'The night hours were first extracted from the hourly values: from locally 18h to locally 6h. In the next step, the UTCI temps were calculated within the NIGHT and transferred to UTCI classes. The number of days (nights) for each class was then calculated for each year.'
    utci_indicator['datasource']= 'cds.climate.copernicus.eu -> https://cds.climate.copernicus.eu/cdsapp#!/dataset/derived-utci-historical?tab=overview'



    utci_indicator.drop(columns=['date', 'count_days','city'],inplace=True)



    ##################################################
    #name_of_table = 'c_utci_indicator_'+str(year)
    name_of_table = 'c_utci_indicator'
    export_df_to_sql = utci_indicator  # dataframe to be exported
    schmema_name ='cube'
    ##################################################
    #export_df_to_sql.to_sql(name_of_table, engine_postgresql,  schema=schmema_name,if_exists='replace')
    export_df_to_sql.to_sql(name_of_table, engine_postgresql,  schema=schmema_name,if_exists='append')
    print (name_of_table)
    print ("export to sql done")



cursor.close()
connection.commit()

#




print ("final import done")

 import data
Engine(postgresql://manuel:***@5.75.190.71:6947/fairicube)
2022
send table to SQL:
c_utci_indicator
export to sql done
2021
send table to SQL:
c_utci_indicator
export to sql done
2020
send table to SQL:
c_utci_indicator
export to sql done
2019
send table to SQL:
c_utci_indicator
export to sql done
2018
send table to SQL:
c_utci_indicator
export to sql done
final import done

## Testing Database connection:

In [100]:

# export to database
#utci_indicator



### SET conection to MS-sql server:
################################################## SET postgre-sql connection:

################################################## read database keys:
def config(filename, section='postgresql'):
    # create a parser
    parser = ConfigParser()
    # read config file
    parser.read(filename)

    # get section, default to postgresql
    db = {}
    if parser.has_section(section):
        params = parser.items(section)
        for param in params:
            db[param[0]] = param[1]
    else:
        raise Exception(
            'Section {0} not found in the {1} file'.format(section, filename))

    return db

keys = config(filename='database.ini')

POSTGRESQL_SERVER_NAME=keys['host']
PORT=                  keys['port']
Database_name =        keys['database']
USER =                 keys['user']
PSW =                  keys['password']
##################################################
                                   
engine_postgresql = sa.create_engine('postgresql://'+USER+':'+PSW+ '@'+POSTGRESQL_SERVER_NAME+':'+str(PORT)+ '/' + Database_name)
print (engine_postgresql)


connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
connection.commit()


## testing reading tables from database:

with engine_postgresql.begin() as conn:
    query = text("""SELECT urau_code, lat, lon, iso2, timezone, tc_name
	FROM lut.city_working_lat_lon_list;""")
    df = pd.read_sql_query(query, conn)
    
    
#print (df)
## close connection:
cursor.close()
connection.commit()



## testing writing:

#print ("send table to SQL:")

##################################################
#name_of_table = 'test'
#export_df_to_sql = df_lat_lon_city  # dataframe to be exported
#schmema_name ='import'
##################################################
#export_df_to_sql.to_sql(name_of_table, engine_postgresql,  schema=schmema_name,if_exists='replace')


print ("test done")

Engine(postgresql://manuel:***@5.75.190.71:6947/fairicube)
test done

## Export indicator to database

In [101]:
## export utci_indicator to database

print ("send table to SQL:")

# new columns / update columns:

utci_indicator['year'] = utci_indicator['date']
utci_indicator['city_code']= utci_indicator['city']
utci_indicator['city_code_version']= 'ua_2021'
utci_indicator['parameter']= 'Number days per year of UTCI-class (derived from max. night temperatures): ' + utci_indicator['utci_class']
utci_indicator['parameter_value']= utci_indicator['count_days']

utci_indicator['lineage']= 'The night hours were first extracted from the hourly values: from locally 18h to locally 6h. In the next step, the UTCI temps were calculated within the NIGHT and transferred to UTCI classes. The number of days (nights) for each class was then calculated for each year.'
utci_indicator['datasource']= 'cds.climate.copernicus.eu -> https://cds.climate.copernicus.eu/cdsapp#!/dataset/derived-utci-historical?tab=overview'



utci_indicator.drop(columns=['date', 'count_days','city'],inplace=True)


##################################################
name_of_table = 'c_utci_indicator_'+str(year)
export_df_to_sql = utci_indicator  # dataframe to be exported
schmema_name ='cube'
##################################################
export_df_to_sql.to_sql(name_of_table, engine_postgresql,  schema=schmema_name,if_exists='replace')

print ("export done")

send table to SQL:
export done

In [98]:
utci_indicator

,utci_class,year,city_code,city_code_version,parameter,parameter_value,lineage,datasource
0,Moderate Cold Stress,2021,AT001C1,ua_2021,Number days per year of UTCI-class (derived fr...,141,The night hours were first extracted from the ...,cds.climate.copernicus.eu -> https://cds.clima...
1,Moderate Heat Stress,2021,AT001C1,ua_2021,Number days per year of UTCI-class (derived fr...,95,The night hours were first extracted from the ...,cds.climate.copernicus.eu -> https://cds.clima...
2,No Thermal Stress,2021,AT001C1,ua_2021,Number days per year of UTCI-class (derived fr...,276,The night hours were first extracted from the ...,cds.climate.copernicus.eu -> https://cds.clima...
3,Slight Cold Stress,2021,AT001C1,ua_2021,Number days per year of UTCI-class (derived fr...,182,The night hours were first extracted from the ...,cds.climate.copernicus.eu -> https://cds.clima...
4,Strong Cold Stress,2021,AT001C1,ua_2021,Number days per year of UTCI-class (derived fr...,9,The night hours were first extracted from the ...,cds.climate.copernicus.eu -> https://cds.clima...
...,...,...,...,...,...,...,...,...
5680,Moderate Heat Stress,2021,UK586C1,ua_2021,Number days per year of UTCI-class (derived fr...,21,The night hours were first extracted from the ...,cds.climate.copernicus.eu -> https://cds.clima...
5681,No Thermal Stress,2021,UK586C1,ua_2021,Number days per year of UTCI-class (derived fr...,338,The night hours were first extracted from the ...,cds.climate.copernicus.eu -> https://cds.clima...
5682,Slight Cold Stress,2021,UK586C1,ua_2021,Number days per year of UTCI-class (derived fr...,228,The night hours were first extracted from the ...,cds.climate.copernicus.eu -> https://cds.clima...
5683,Strong Cold Stress,2021,UK586C1,ua_2021,Number days per year of UTCI-class (derived fr...,4,The night hours were first extracted from the ...,cds.climate.copernicus.eu -> https://cds.clima...
5684,Strong Heat Stress,2021,UK586C1,ua_2021,Number days per year of UTCI-class (derived fr...,3,The night hours were first extracted from the ...,cds.climate.copernicus.eu -> https://cds.clima...

In [53]:

## testing
city_code = 'AT001C1'
df_AT001C1=df.loc[df['city'] == city_code]
#df_count = df_AT001C1.groupby(['city']).mean()




df_AT001C1_count = df.groupby(["city","utci_class"])["utci_class"].count().reset_index(name="count_days")

#df_AT001C1_count
year = 2018
include = df[df['date'].dt.year == int(year)]  # only selected year




df =  include
test= df.groupby([df.date.dt.year,"city","utci_class"])["utci_class"].count().reset_index(name="count_days")

test

      date     city            utci_class  count_days
0     2018  AT001C1  Moderate Cold Stress         129
1     2018  AT001C1  Moderate Heat Stress         114
2     2018  AT001C1     No Thermal Stress         283
3     2018  AT001C1    Slight Cold Stress         146
4     2018  AT001C1    Strong Cold Stress          18
...    ...      ...                   ...         ...
5777  2018  UK586C1  Moderate Heat Stress          24
5778  2018  UK586C1     No Thermal Stress         289
5779  2018  UK586C1    Slight Cold Stress         231
5780  2018  UK586C1    Strong Cold Stress           9
5781  2018  UK586C1    Strong Heat Stress           2

[5782 rows x 4 columns]