## Database: Cleaning tables, views, schema  (draft)

In [60]:
import numpy as np
import pandas as pd
import xarray as x
from configparser import ConfigParser
import sqlalchemy as sa # conection to the database
from sqlalchemy import create_engine, text
from datetime import datetime, timedelta

### SET conection to MS-sql server:
################################################## SET postgre-sql connection:

################################################## read database keys:
def config(filename, section='postgresql'):
    # create a parser
    parser = ConfigParser()
    # read config file
    parser.read(filename)

    # get section, default to postgresql
    db = {}
    if parser.has_section(section):
        params = parser.items(section)
        for param in params:
            db[param[0]] = param[1]
    else:
        raise Exception(
            'Section {0} not found in the {1} file'.format(section, filename))

    return db

keys = config(filename='database.ini')

POSTGRESQL_SERVER_NAME=keys['host']
PORT=                  keys['port']
Database_name =        keys['database']
USER =                 keys['user']
PSW =                  keys['password']
##################################################

engine_postgresql = sa.create_engine('postgresql://'+USER+':'+PSW+ '@'+POSTGRESQL_SERVER_NAME+':'+str(PORT)+ '/' + Database_name)
print (engine_postgresql)




print ("Enngine loaded --- next steps can be started!!!!!!!!!!!!!")

Engine(postgresql://manuel:***@5.75.190.71:6947/fairicube)
Enngine loaded --- next steps can be started!!!!!!!!!!!!!

## (1.1) Removing table

In [2]:
## (1.1) Removing table - if Exists:

schema = "cube"
name_of_table = "cu_urban_atlas_test"

## removing table:...........................................S
#query_drop = ("""DROP TABLE IF EXISTS cube.c_city_eurostat_de1028i_test  ;""")
query_drop = ("DROP TABLE IF EXISTS "+schema+"."+name_of_table+";")             
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
cursor.execute(query_drop)
connection.commit()
## removing table:...........................................E

print ("1.1 -removing of table - done")

1.1 -removing of table - done

## (1.2) UNION TABLES

In [47]:
## (1.2) UNION table :


## example:
#schema = "cube"
#name_of_table = "cu_city_dem"

print ("A) Add new columns:")

query_union_to_new_table = ("""      
        CREATE TABLE cube.cu_city_dem
        AS

                SELECT * From cube.cu_city_dem_std
              UNION
                SELECT * From cube.cu_city_dem_max
              UNION
                SELECT * From cube.cu_city_dem_mean
              UNION
                SELECT * From cube.cu_city_dem_min
              UNION
                SELECT * From cube.cu_city_dem_std
         
            
         """)

print (query_union_to_new_table)
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
cursor.execute(query_union_to_new_table)
connection.commit()


print ("union done!°!")

A) Add new columns:

        CREATE TABLE cube.cu_city_dem
        AS

                SELECT * From cube.cu_city_dem_std
              UNION
                SELECT * From cube.cu_city_dem_max
              UNION
                SELECT * From cube.cu_city_dem_mean
              UNION
                SELECT * From cube.cu_city_dem_min
              UNION
                SELECT * From cube.cu_city_dem_std



union done!°!

## (2.1) Adding missing metadata.

In [8]:
## (2.1) Adding missing metadata.

schema = "cube"
name_of_table = "cu_urban_atlas_test"

print ("A) Add new columns:")
query_new_columns = ("""
         
ALTER TABLE """+schema+"."+name_of_table+""" 
--ADD COLUMN city_code VARCHAR,
--ADD COLUMN city_code_version VARCHAR,
--ADD COLUMN parameter VARCHAR,
--ADD COLUMN parameter_value FLOAT,
ADD COLUMN lineage TEXT,
ADD COLUMN datasource VARCHAR;
         
            
         """)

print (query_new_columns)
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
cursor.execute(query_new_columns)
connection.commit()


################ update columns:
print ("B) update new columns:")
query_update_new_columns = ("""
         
UPDATE """+schema+"."+name_of_table+""" 
SET
-- city_code ='xx001c1xx',
-- city_code_version ='ua_2021',
-- parameter = '"Number days..blabla..',
-- parameter_value = -999,
 lineage   = 'blablablablabla',
 datasource ='xxEurostat....';
         
            
         """)
print (query_update_new_columns)
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
cursor.execute(query_update_new_columns)
connection.commit()


print ("update of table done!")

A) Add new columns:


ALTER TABLE cube.cu_urban_atlas_test
--ADD COLUMN city_code VARCHAR,
--ADD COLUMN city_code_version VARCHAR,
--ADD COLUMN parameter VARCHAR,
--ADD COLUMN parameter_value FLOAT,
ADD COLUMN lineage TEXT,
ADD COLUMN datasource VARCHAR;



B) update new columns:


UPDATE cube.cu_urban_atlas_test
SET
-- city_code ='xx001c1xx',
-- city_code_version ='ua_2021',
-- parameter = '"Number days..blabla..',
-- parameter_value = -999,
 lineage   = 'blablablablabla',
 datasource ='xxEurostat....';



update of table done!

## (3.1) Transform tables (pivot, columns to rows ...)

In [63]:
## bring sql table to data frame:

schema = "cube"
name_of_table = "cu_city_eurostat_new"


## open connection:
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
connection.commit()
## testing reading tables from database:

with engine_postgresql.begin() as conn:
    query_wide_table = text("""
    
      SELECT estat_code, urau_code, "1991", "1992", "1993", "1994", "1995", "1996", "1997", "1998", "1999", "2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021", city_code, city_code_version, parameter, lineage, datasource
	FROM cube.c_city_eurostat;
    
    
    """)
    df_wide_table = pd.read_sql_query(query_wide_table, conn)
    
    
#print (df_wide_table)



print ("Transformation ob table:")



#
df_transformed_table =df_wide_table.melt(id_vars=[
                    'estat_code', 
                    'urau_code', 
                    'city_code', 
                    'city_code_version', 
                    'parameter', 
                    'lineage', 
                    'datasource'
                        ], var_name="year", value_name="parameter_value")



print(df_transformed_table)



print ("dataframe to sql:")


###################################################
#name_of_table = name_of_table
export_df_to_sql = df_transformed_table  # dataframe to be exported
schmema_name = schema
###################################################
export_df_to_sql.to_sql(name_of_table, engine_postgresql,  schema=schmema_name,if_exists='replace')
print ("end transformation")

Transformation ob table:
        estat_code urau_code city_code city_code_version  \
0               AT   DE1028I        AT           ua_2021
1               AT   DE1055i        AT           ua_2021
2           AT001C   DE1028I    AT001C           ua_2021
3           AT001C   DE1055i    AT001C           ua_2021
4           AT002C   DE1028I    AT002C           ua_2021
...            ...       ...       ...               ...
1534433     UK133C   DE1055i    UK133C           ua_2021
1534434     UK134C   DE1028I    UK134C           ua_2021
1534435     UK134C   DE1055i    UK134C           ua_2021
1534436     UK135C   DE1028I    UK135C           ua_2021
1534437     UK135C   DE1055i    UK135C           ua_2021

                                           parameter  \
0        "Urban Audit indicators - check estat code"
1        "Urban Audit indicators - check estat code"
2        "Urban Audit indicators - check estat code"
3        "Urban Audit indicators - check estat code"
4        "Urban Audit indicators - check estat code"
...                                              ...
1534433  "Urban Audit indicators - check estat code"
1534434  "Urban Audit indicators - check estat code"
1534435  "Urban Audit indicators - check estat code"
1534436  "Urban Audit indicators - check estat code"
1534437  "Urban Audit indicators - check estat code"

                                                   lineage  \
0        "Data on European cities were collected in the...
1        "Data on European cities were collected in the...
2        "Data on European cities were collected in the...
3        "Data on European cities were collected in the...
4        "Data on European cities were collected in the...
...                                                    ...
1534433  "Data on European cities were collected in the...
1534434  "Data on European cities were collected in the...
1534435  "Data on European cities were collected in the...
1534436  "Data on European cities were collected in the...
1534437  "Data on European cities were collected in the...

                                                datasource  year  \
0        "https://ec.europa.eu/eurostat/cache/metadata/...  1991
1        "https://ec.europa.eu/eurostat/cache/metadata/...  1991
2        "https://ec.europa.eu/eurostat/cache/metadata/...  1991
3        "https://ec.europa.eu/eurostat/cache/metadata/...  1991
4        "https://ec.europa.eu/eurostat/cache/metadata/...  1991
...                                                    ...   ...
1534433  "https://ec.europa.eu/eurostat/cache/metadata/...  2021
1534434  "https://ec.europa.eu/eurostat/cache/metadata/...  2021
1534435  "https://ec.europa.eu/eurostat/cache/metadata/...  2021
1534436  "https://ec.europa.eu/eurostat/cache/metadata/...  2021
1534437  "https://ec.europa.eu/eurostat/cache/metadata/...  2021

         parameter_value
0               8.094399
1               6.816773
2               9.061868
3               8.785802
4               9.533661
...                  ...
1534433              NaN
1534434              NaN
1534435              NaN
1534436              NaN
1534437              NaN

[1534438 rows x 9 columns]
dataframe to sql:
end transformation

In [65]:


print ("send table to SQL:")

###################################################
name_of_table = 'cu_test'
export_df_to_sql = df_transformed_table  # dataframe to be exported
schmema_name ='cube'
###################################################
export_df_to_sql.to_sql(name_of_table, engine_postgresql,  schema=schmema_name,if_exists='replace')



## close connection:
#cursor.close()
#connection.commit()

send table to SQL:

KeyboardInterrupt:

## (4.1) VIEW 1 ()

In [ ]:
## (3.1) Set up of VIEW

schema = "cube"
name_of_table = "cu_urban_atlas_test"

print ("A) Add new columns:")
query_view = ("""
         
-- View: cube.CITY_main_cube

-- DROP VIEW cube."CITY_main_cube";

CREATE OR REPLACE VIEW cube."CITY_main_cube"
 AS

 SELECT cu_city_drought.city_code,
    cu_city_drought.city_code_version,
    cu_city_drought.parameter,
    cu_city_drought.parameter_id,
    cu_city_drought.parameter_value,
    cu_city_drought.year
   FROM cube.cu_city_drought
UNION
 SELECT cu_city_burnt_area_wild_fire.city_code,
    cu_city_burnt_area_wild_fire.city_code_version,
    cu_city_burnt_area_wild_fire.parameter,
    cu_city_burnt_area_wild_fire.parameter_id,
    cu_city_burnt_area_wild_fire.parameter_value,
    cu_city_burnt_area_wild_fire.year
   FROM cube.cu_city_burnt_area_wild_fire
UNION
 SELECT cu_urban_atlas.city_code,
    cu_urban_atlas.city_code_version,
    cu_urban_atlas.parameter,
    cu_urban_atlas.parameter_id,
    cu_urban_atlas.parameter_value,
    cu_urban_atlas.year
   FROM cube.cu_urban_atlas
UNION
 SELECT cu_city_eurostat.city_code,
    cu_city_eurostat.city_code_version,
    cu_city_eurostat.parameter,
    cu_city_eurostat.parameter_id,
    cu_city_eurostat.parameter_value,
    cu_city_eurostat.year
   FROM cube.cu_city_eurostat
UNION
 SELECT cu_city_treecover.city_code,
    cu_city_treecover.city_code_version,
    cu_city_treecover.parameter,
    cu_city_treecover.parameter_id,
    cu_city_treecover.parameter_value,
    cu_city_treecover.year
   FROM cube.cu_city_treecover
UNION
 SELECT cu_city_dem.city_code,
    cu_city_dem.city_code_version,
    cu_city_dem.parameter,
    cu_city_dem.parameter_id,
    cu_city_dem.parameter_value,
    cu_city_dem.year
   FROM cube.xxcu_city_dem_mean
UNION
 SELECT cu_city_imperviousness_area.city_code,
    cu_city_imperviousness_area.city_code_version,
    cu_city_imperviousness_area.parameter,
    cu_city_imperviousness_area.parameter_id,
    cu_city_imperviousness_area.parameter_value,
    cu_city_imperviousness_area.year
   FROM cube.cu_city_imperviousness_area;
     
            
         """)

print (query_new_columns)
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
cursor.execute(query_view)
connection.commit()

In [50]:
## (2.1) Adding missing metadata.

schema = "cube"
name_of_table =  "c_city_eurostat_de1055i"

print ("A) Add new columns:")
query_new_columns = ("""
         
ALTER TABLE """+schema+"."+name_of_table+""" 
ADD COLUMN city_code VARCHAR,
ADD COLUMN city_code_version VARCHAR,
ADD COLUMN parameter VARCHAR,
--ADD COLUMN parameter_id VARCHAR
---ADD COLUMN parameter_value FLOAT,
ADD COLUMN lineage TEXT,
ADD COLUMN datasource VARCHAR;        
         """)

print (query_new_columns)
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
cursor.execute(query_new_columns)
connection.commit()

################ update columns:
print ("B) update new columns:")
query_update_new_columns = ("""
         
UPDATE """+schema+"."+name_of_table+""" 
SET
city_code = urau_code,
city_code_version ='ua_2021',
parameter = '"Urban Audit indicators - check estat code"',
--parameter_value = parameter_value/10000.00 ,
 --parameter_id = 'city_copernicus_dem',
 lineage   = '"Data on European cities were collected in the Urban Audit and in the Large City Audit project - for more information open the datasource"',
 datasource ='"https://ec.europa.eu/eurostat/cache/metadata/en/urb_esms.htm"';
         
            
         """)
print (query_update_new_columns)
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
cursor.execute(query_update_new_columns)
connection.commit()


print ("update of table done!")

A) Add new columns:


ALTER TABLE cube.c_city_eurostat_de1055i
ADD COLUMN city_code VARCHAR,
ADD COLUMN city_code_version VARCHAR,
ADD COLUMN parameter VARCHAR,
--ADD COLUMN parameter_id VARCHAR
---ADD COLUMN parameter_value FLOAT,
ADD COLUMN lineage TEXT,
ADD COLUMN datasource VARCHAR;

B) update new columns:


UPDATE cube.c_city_eurostat_de1055i
SET
city_code = urau_code,
city_code_version ='ua_2021',
parameter = '"Urban Audit indicators - check estat code"',
--parameter_value = parameter_value/10000.00 ,
 --parameter_id = 'city_copernicus_dem',
 lineage   = '"Data on European cities were collected in the Urban Audit and in the Large City Audit project - for more information open the datasource"',
 datasource ='"https://ec.europa.eu/eurostat/cache/metadata/en/urb_esms.htm"';



update of table done!