In [ ]:
## Database: transform attributes to rows directly in SQL

In [16]:
import numpy as np
import pandas as pd
import xarray as x
from configparser import ConfigParser
import sqlalchemy as sa # conection to the database

from sqlalchemy import create_engine, text
from datetime import datetime, timedelta



print (" import data")
### SET conection to MS-sql server:
################################################## SET postgre-sql connection:

################################################## read database keys:
def config(filename, section='postgresql'):
    # create a parser
    parser = ConfigParser()
    # read config file
    parser.read(filename)

    # get section, default to postgresql
    db = {}
    if parser.has_section(section):
        params = parser.items(section)
        for param in params:
            db[param[0]] = param[1]
    else:
        raise Exception(
            'Section {0} not found in the {1} file'.format(section, filename))

    return db

keys = config(filename='database.ini')

POSTGRESQL_SERVER_NAME=keys['host']
PORT=                  keys['port']
Database_name =        keys['database']
USER =                 keys['user']
PSW =                  keys['password']
##################################################

engine_postgresql = sa.create_engine('postgresql://'+USER+':'+PSW+ '@'+POSTGRESQL_SERVER_NAME+':'+str(PORT)+ '/' + Database_name)
print (engine_postgresql)



## removing table:...........................................S
query_drop = ("""DROP TABLE IF EXISTS cube.c_city_eurostat_de1028i_test  ;""")

connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
cursor.execute(query_drop)
connection.commit()
## removing table:...........................................E



### calc_indicator:
query = ("""
            WITH squery AS
            (
                SELECT
                    urau_code,
                    estat_code,
                    "1991" AS val1991,
                    "1992" AS val1992,
                    "1993" AS val1993,
                    "1994" AS val1994,
                    "1995" AS val1995,
                    "1996" AS val1996,
                    "1997" AS val1997,
                    "1998" AS val1998,
                    "1999" AS val1999,
                    "2000" AS val2000,
                    "2001" AS val2001,
                    "2002" AS val2002,
                    "2003" AS val2003,
                    "2004" AS val2004,
                    "2005" AS val2005,
                    "2006" AS val2006,
                    "2007" AS val2007,
                    "2008" AS val2008,
                    "2009" AS val2009,
                    "2010" AS val2010,
                    "2011" AS val2011,
                    "2012" AS val2012,
                    "2013" AS val2013,
                    "2014" AS val2014,
                    "2015" AS val2015,
                    "2016" AS val2016,
                    "2017" AS val2017,
                    "2018" AS val2018,
                    "2019" AS val2019,
                    "2020" AS val2020,
                    "2021" AS val2021
                  
                FROM cube.c_city_eurostat_de1028i
            )
            SELECT urau_code,  estat_code,
            'from Eurostat' as lineage,
            'Eurostat - urban audit' as datasource,


                right(unnest(array[ 'val1991',
                                    'val1992',
                                    'val1993',
                                    'val1994',
                                    'val1995',
                                    'val1996',
                                    'val1997',
                                    'val1998',
                                    'val1999',
                                    'val2000',
                                    'val2001',
                                    'val2002',
                                    'val2003',
                                    'val2004',
                                    'val2005',
                                    'val2006',
                                    'val2007',
                                    'val2008',
                                    'val2009',
                                    'val2010',
                                    'val2011',
                                    'val2012',
                                    'val2013',
                                    'val2014',
                                    'val2015',
                                    'val2016',
                                    'val2017',
                                    'val2018',
                                    'val2019',
                                    'val2020',
                                    'val2021'
                                   
         ]),4) AS "year",
                unnest(array[
                        val1991::text, 
                        val1992::text, 
                        val1993::text,
                        val1994::text,
                        val1995::text,
                        val1996::text,
                        val1997::text,
                        val1998::text,
                        val1999::text,
                        val2000::text,
                        val2001::text,
                        val2002::text,
                        val2003::text,
                        val2004::text,
                        val2005::text,
                        val2006::text,
                        val2007::text,
                        val2008::text,
                        val2009::text,
                        val2010::text,
                        val2011::text,
                        val2012::text,
                        val2013::text,
                        val2014::text,
                        val2015::text,
                        val2016::text,
                        val2017::text,
                        val2018::text,
                        val2019::text,
                        val2020::text,
                        val2021::text
                           
         ]) AS "parameter_value"

            into cube.c_city_eurostat_de1028i_test
            FROM squery
            ORDER BY "urau_code"; 
         """)

connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
cursor.execute(query)
connection.commit()

print ("done")

 import data
Engine(postgresql://manuel:***@5.75.190.71:6947/fairicube)
done