## Database: Cleaning tables, views, schema

In [ ]:
import pandas as pd
from src.db_connect import create_engine
from sqlalchemy import text

################################################## SET postgre-sql connection:
engine_postgresql = create_engine('path/to/database.ini')
print ("Engine started..")

Engine(postgresql://manuel:***@5.75.190.71:6947/fairicube)
Enngine loaded --- next steps can be started!!!!!!!!!!!!!

## (1.1) Removing table

In [2]:
## (1.1) Removing table - if Exists:

schema = "cube"
name_of_table = "cu_urban_atlas_test"

## removing table:...........................................S
#query_drop = ("""DROP TABLE IF EXISTS cube.c_city_eurostat_de1028i_test  ;""")
query_drop = ("DROP TABLE IF EXISTS "+schema+"."+name_of_table+";")             
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
cursor.execute(query_drop)
connection.commit()
## removing table:...........................................E

print ("1.1 -removing of table - done")

1.1 -removing of table - done

## (1.2) UNION TABLES

In [ ]:
## (1.2) UNION table :


## example:
#schema = "cube"
#name_of_table = "cu_city_dem"

print ("A) Add new columns:")

query_union_to_new_table = ("""      
        CREATE TABLE cube.cu_city_dem
        AS
                SELECT * From cube.cu_city_dem_std
              UNION
                SELECT * From cube.cu_city_dem_max
              UNION
                SELECT * From cube.cu_city_dem_mean
              UNION
                SELECT * From cube.cu_city_dem_min
              UNION
                SELECT * From cube.cu_city_dem_std
         """)

print (query_union_to_new_table)
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
cursor.execute(query_union_to_new_table)
connection.commit()

A) Add new columns:

        CREATE TABLE cube.cu_city_dem
        AS

                SELECT * From cube.cu_city_dem_std
              UNION
                SELECT * From cube.cu_city_dem_max
              UNION
                SELECT * From cube.cu_city_dem_mean
              UNION
                SELECT * From cube.cu_city_dem_min
              UNION
                SELECT * From cube.cu_city_dem_std



union done!Â°!

## (1.2) Get database -schema- overview

In [ ]:
print ("get database overview")
with engine_postgresql.begin() as conn:
    query = text("""
SELECT * FROM information_schema.tables 
WHERE table_schema = 'cube' order by table_name
    """)
    df_overview = pd.read_sql_query(query, conn)
print (df_overview)

get database overview
   table_catalog table_schema                        table_name  table_type  \
0      fairicube         cube       c_city_burnt_area_wild_fire  BASE TABLE
1      fairicube         cube                    c_city_drought  BASE TABLE
2      fairicube         cube                  c_city_env_zones  BASE TABLE
3      fairicube         cube                   c_city_eurostat  BASE TABLE
4      fairicube         cube    c_city_hrl_imperviousness_2018  BASE TABLE
5      fairicube         cube         c_city_hrl_treecover_2018  BASE TABLE
6      fairicube         cube           c_city_urban_atlas_2012  BASE TABLE
7      fairicube         cube           c_city_urban_atlas_2018  BASE TABLE
8      fairicube         cube        c_city_water_classes_clc18  BASE TABLE
9      fairicube         cube                             c_dem  BASE TABLE
10     fairicube         cube                  c_utci_indicator  BASE TABLE
11     fairicube         cube      cu_city_burnt_area_wild_fire  BASE TABLE
12     fairicube         cube                       cu_city_dem  BASE TABLE
13     fairicube         cube                   cu_city_drought  BASE TABLE
14     fairicube         cube                 cu_city_env_zones  BASE TABLE
15     fairicube         cube       cu_city_era5_2m_temperature  BASE TABLE
16     fairicube         cube                  cu_city_eurostat  BASE TABLE
17     fairicube         cube   cu_city_hrl_imperviousness_2018  BASE TABLE
18     fairicube         cube        cu_city_hrl_treecover_2018  BASE TABLE
19     fairicube         cube               cu_city_urban_atlas  BASE TABLE
20     fairicube         cube       cu_city_water_classes_clc18  BASE TABLE
21     fairicube         cube                 cu_utci_indicator  BASE TABLE
22     fairicube         cube                 geography_columns  BASE TABLE
23     fairicube         cube                   spatial_ref_sys  BASE TABLE
24     fairicube         cube  v_city_burnt_area_wild_fire_long        VIEW

   self_referencing_column_name reference_generation  \
0                          None                 None
1                          None                 None
2                          None                 None
3                          None                 None
4                          None                 None
5                          None                 None
6                          None                 None
7                          None                 None
8                          None                 None
9                          None                 None
10                         None                 None
11                         None                 None
12                         None                 None
13                         None                 None
14                         None                 None
15                         None                 None
16                         None                 None
17                         None                 None
18                         None                 None
19                         None                 None
20                         None                 None
21                         None                 None
22                         None                 None
23                         None                 None
24                         None                 None

   user_defined_type_catalog user_defined_type_schema user_defined_type_name  \
0                       None                     None                   None
1                       None                     None                   None
2                       None                     None                   None
3                       None                     None                   None
4                       None                     None                   None
5                       None                     None                   None
6                       None                     None                   None
7                       None                     None                   None
8                       None                     None                   None
9                       None                     None                   None
10                      None                     None                   None
11                      None                     None                   None
12                      None                     None                   None
13                      None                     None                   None
14                      None                     None                   None
15                      None                     None                   None
16                      None                     None                   None
17                      None                     None                   None
18                      None                     None                   None
19                      None                     None                   None
20                      None                     None                   None
21                      None                     None                   None
22                      None                     None                   None
23                      None                     None                   None
24                      None                     None                   None

   is_insertable_into is_typed commit_action
0                 YES       NO          None
1                 YES       NO          None
2                 YES       NO          None
3                 YES       NO          None
4                 YES       NO          None
5                 YES       NO          None
6                 YES       NO          None
7                 YES       NO          None
8                 YES       NO          None
9                 YES       NO          None
10                YES       NO          None
11                YES       NO          None
12                YES       NO          None
13                YES       NO          None
14                YES       NO          None
15                YES       NO          None
16                YES       NO          None
17                YES       NO          None
18                YES       NO          None
19                YES       NO          None
20                YES       NO          None
21                YES       NO          None
22                YES       NO          None
23                YES       NO          None
24                 NO       NO          None

## (2.1) Adding missing metadata.

In [ ]:
## (2.1) Adding missing metadata.

schema = "cube"
name_of_table = "c_city_eurostat_input"

print ("A) Add new columns:")
query_new_columns = ("""
ALTER TABLE """+schema+"."+name_of_table+""" 
ADD COLUMN city_code VARCHAR,
ADD COLUMN city_code_version VARCHAR,
ADD COLUMN parameter VARCHAR,
ADD COLUMN lineage TEXT,
ADD COLUMN datasource VARCHAR;
         """)

print (query_new_columns)
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
cursor.execute(query_new_columns)
connection.commit()

################ update columns:
print ("B) update new columns:")
query_update_new_columns = ("""
         
UPDATE """+schema+"."+name_of_table+""" 
SET
        city_code =urau_code,
        city_code_version ='ua_2021',
        estat_code =indic_code,
        parameter = CONCAT('Urban Audit indicators -',indic_code),
        lineage   = 'Data on European cities were collected in the Urban Audit and in the Large City Audit project - for more information open the datasource',
        datasource ='https://ec.europa.eu/eurostat/cache/metadata/en/urb_esms.htm';
         """)
print (query_update_new_columns)
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
cursor.execute(query_update_new_columns)
connection.commit()

print ("update of table done!")

A) Add new columns:
B) update new columns:


UPDATE cube.c_city_eurostat_input
SET
        city_code =urau_code,
        city_code_version ='ua_2021',
        estat_code =indic_code,
        ---parameter_value = -999,

        parameter = CONCAT('Urban Audit indicators -',indic_code),
        lineage   = 'Data on European cities were collected in the Urban Audit and in the Large City Audit project - for more information open the datasource',
        datasource ='https://ec.europa.eu/eurostat/cache/metadata/en/urb_esms.htm';


update of table done!

## (2.2) Solving NULL -> 0 problematic

In [ ]:
schema = "cube"
name_of_table = "c_city_drought"

print ("A) Add new columns:")
update_query = ("""
         
UPDATE """+schema+"."+name_of_table+""" SET drought_pressure_occurrence_gs_1km_2000 = 0 where drought_pressure_occurrence_gs_1km_2000 is NULL ;
UPDATE """+schema+"."+name_of_table+""" SET drought_pressure_occurrence_gs_1km_2001 = 0 where drought_pressure_occurrence_gs_1km_2001 is NULL ;
UPDATE """+schema+"."+name_of_table+""" SET drought_pressure_occurrence_gs_1km_2002 = 0 where drought_pressure_occurrence_gs_1km_2002 is NULL ;
UPDATE """+schema+"."+name_of_table+""" SET drought_pressure_occurrence_gs_1km_2003 = 0 where drought_pressure_occurrence_gs_1km_2003 is NULL ;
UPDATE """+schema+"."+name_of_table+""" SET drought_pressure_occurrence_gs_1km_2004 = 0 where drought_pressure_occurrence_gs_1km_2004 is NULL ;
UPDATE """+schema+"."+name_of_table+""" SET drought_pressure_occurrence_gs_1km_2005 = 0 where drought_pressure_occurrence_gs_1km_2005 is NULL ;
UPDATE """+schema+"."+name_of_table+""" SET drought_pressure_occurrence_gs_1km_2006 = 0 where drought_pressure_occurrence_gs_1km_2006 is NULL ;
UPDATE """+schema+"."+name_of_table+""" SET drought_pressure_occurrence_gs_1km_2007 = 0 where drought_pressure_occurrence_gs_1km_2007 is NULL ;
UPDATE """+schema+"."+name_of_table+""" SET drought_pressure_occurrence_gs_1km_2008 = 0 where drought_pressure_occurrence_gs_1km_2008 is NULL ;
UPDATE """+schema+"."+name_of_table+""" SET drought_pressure_occurrence_gs_1km_2009 = 0 where drought_pressure_occurrence_gs_1km_2009 is NULL ;
UPDATE """+schema+"."+name_of_table+""" SET drought_pressure_occurrence_gs_1km_2010 = 0 where drought_pressure_occurrence_gs_1km_2010 is NULL ;
UPDATE """+schema+"."+name_of_table+""" SET drought_pressure_occurrence_gs_1km_2011 = 0 where drought_pressure_occurrence_gs_1km_2011 is NULL ;
UPDATE """+schema+"."+name_of_table+""" SET drought_pressure_occurrence_gs_1km_2012 = 0 where drought_pressure_occurrence_gs_1km_2012 is NULL ;
UPDATE """+schema+"."+name_of_table+""" SET drought_pressure_occurrence_gs_1km_2013 = 0 where drought_pressure_occurrence_gs_1km_2013 is NULL ;
UPDATE """+schema+"."+name_of_table+""" SET drought_pressure_occurrence_gs_1km_2014 = 0 where drought_pressure_occurrence_gs_1km_2014 is NULL ;
UPDATE """+schema+"."+name_of_table+""" SET drought_pressure_occurrence_gs_1km_2015 = 0 where drought_pressure_occurrence_gs_1km_2015 is NULL ;
UPDATE """+schema+"."+name_of_table+""" SET drought_pressure_occurrence_gs_1km_2016 = 0 where drought_pressure_occurrence_gs_1km_2016 is NULL ;
UPDATE """+schema+"."+name_of_table+""" SET drought_pressure_occurrence_gs_1km_2017 = 0 where drought_pressure_occurrence_gs_1km_2017 is NULL ;
UPDATE """+schema+"."+name_of_table+""" SET drought_pressure_occurrence_gs_1km_2018 = 0 where drought_pressure_occurrence_gs_1km_2018 is NULL ;
UPDATE """+schema+"."+name_of_table+""" SET drought_pressure_occurrence_gs_1km_2019 = 0 where drought_pressure_occurrence_gs_1km_2019 is NULL ;
UPDATE """+schema+"."+name_of_table+""" SET drought_pressure_occurrence_gs_1km_2020 = 0 where drought_pressure_occurrence_gs_1km_2020 is NULL ;
UPDATE """+schema+"."+name_of_table+""" SET drought_pressure_occurrence_gs_1km_2021 = 0 where drought_pressure_occurrence_gs_1km_2021 is NULL ;
UPDATE """+schema+"."+name_of_table+""" SET drought_pressure_occurrence_gs_1km_2022 = 0 where drought_pressure_occurrence_gs_1km_2022 is NULL ;
         """)

print (update_query)
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
cursor.execute(update_query)
connection.commit()

##########################################

A) Add new columns:


UPDATE cube.c_city_drought SET drought_pressure_occurrence_gs_1km_2000 = 0 where drought_pressure_occurrence_gs_1km_2000 is NULL ;
UPDATE cube.c_city_drought SET drought_pressure_occurrence_gs_1km_2001 = 0 where drought_pressure_occurrence_gs_1km_2001 is NULL ;
UPDATE cube.c_city_drought SET drought_pressure_occurrence_gs_1km_2002 = 0 where drought_pressure_occurrence_gs_1km_2002 is NULL ;
UPDATE cube.c_city_drought SET drought_pressure_occurrence_gs_1km_2003 = 0 where drought_pressure_occurrence_gs_1km_2003 is NULL ;
UPDATE cube.c_city_drought SET drought_pressure_occurrence_gs_1km_2004 = 0 where drought_pressure_occurrence_gs_1km_2004 is NULL ;
UPDATE cube.c_city_drought SET drought_pressure_occurrence_gs_1km_2005 = 0 where drought_pressure_occurrence_gs_1km_2005 is NULL ;
UPDATE cube.c_city_drought SET drought_pressure_occurrence_gs_1km_2006 = 0 where drought_pressure_occurrence_gs_1km_2006 is NULL ;
UPDATE cube.c_city_drought SET drought_pressure_occurrence_gs_1km_2007 = 0 where drought_pressure_occurrence_gs_1km_2007 is NULL ;
UPDATE cube.c_city_drought SET drought_pressure_occurrence_gs_1km_2008 = 0 where drought_pressure_occurrence_gs_1km_2008 is NULL ;
UPDATE cube.c_city_drought SET drought_pressure_occurrence_gs_1km_2009 = 0 where drought_pressure_occurrence_gs_1km_2009 is NULL ;
UPDATE cube.c_city_drought SET drought_pressure_occurrence_gs_1km_2010 = 0 where drought_pressure_occurrence_gs_1km_2010 is NULL ;
UPDATE cube.c_city_drought SET drought_pressure_occurrence_gs_1km_2011 = 0 where drought_pressure_occurrence_gs_1km_2011 is NULL ;
UPDATE cube.c_city_drought SET drought_pressure_occurrence_gs_1km_2012 = 0 where drought_pressure_occurrence_gs_1km_2012 is NULL ;
UPDATE cube.c_city_drought SET drought_pressure_occurrence_gs_1km_2013 = 0 where drought_pressure_occurrence_gs_1km_2013 is NULL ;
UPDATE cube.c_city_drought SET drought_pressure_occurrence_gs_1km_2014 = 0 where drought_pressure_occurrence_gs_1km_2014 is NULL ;
UPDATE cube.c_city_drought SET drought_pressure_occurrence_gs_1km_2015 = 0 where drought_pressure_occurrence_gs_1km_2015 is NULL ;
UPDATE cube.c_city_drought SET drought_pressure_occurrence_gs_1km_2016 = 0 where drought_pressure_occurrence_gs_1km_2016 is NULL ;
UPDATE cube.c_city_drought SET drought_pressure_occurrence_gs_1km_2017 = 0 where drought_pressure_occurrence_gs_1km_2017 is NULL ;
UPDATE cube.c_city_drought SET drought_pressure_occurrence_gs_1km_2018 = 0 where drought_pressure_occurrence_gs_1km_2018 is NULL ;
UPDATE cube.c_city_drought SET drought_pressure_occurrence_gs_1km_2019 = 0 where drought_pressure_occurrence_gs_1km_2019 is NULL ;
UPDATE cube.c_city_drought SET drought_pressure_occurrence_gs_1km_2020 = 0 where drought_pressure_occurrence_gs_1km_2020 is NULL ;
UPDATE cube.c_city_drought SET drought_pressure_occurrence_gs_1km_2021 = 0 where drought_pressure_occurrence_gs_1km_2021 is NULL ;
UPDATE cube.c_city_drought SET drought_pressure_occurrence_gs_1km_2022 = 0 where drought_pressure_occurrence_gs_1km_2022 is NULL ;

## (3.1) Transform tables (pivot, columns to rows ...)

In [ ]:
## (A) bring  columns to rows::
## bring sql table to data frame:

schema = "cube"
name_of_table = "cu_city_eurostat_new"

## open connection:
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
connection.commit()
## testing reading tables from database:

with engine_postgresql.begin() as conn:
    query_wide_table = text("""
    SELECT estat_code, urau_code, "1991", "1992", "1993", "1994", "1995", "1996", "1997", "1998", "1999", "2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021", city_code, city_code_version, parameter, lineage, datasource
	FROM cube.c_city_eurostat;
    """)
    df_wide_table = pd.read_sql_query(query_wide_table, conn)

print ("Transformation ob table:")
df_transformed_table =df_wide_table.melt(id_vars=[
                    'estat_code', 
                    'urau_code', 
                    'city_code', 
                    'city_code_version', 
                    'parameter', 
                    'lineage', 
                    'datasource'
                        ], var_name="year", value_name="parameter_value")
print(df_transformed_table)
print ("dataframe to sql:")

###################################################
#name_of_table = name_of_table
export_df_to_sql = df_transformed_table  # dataframe to be exported
schmema_name = schema
###################################################
export_df_to_sql.to_sql(name_of_table, engine_postgresql,  schema=schmema_name,if_exists='replace')
print ("end transformation")

Transformation ob table:
        estat_code urau_code city_code city_code_version  \
0               AT   DE1028I        AT           ua_2021
1               AT   DE1055i        AT           ua_2021
2           AT001C   DE1028I    AT001C           ua_2021
3           AT001C   DE1055i    AT001C           ua_2021
4           AT002C   DE1028I    AT002C           ua_2021
...            ...       ...       ...               ...
1534433     UK133C   DE1055i    UK133C           ua_2021
1534434     UK134C   DE1028I    UK134C           ua_2021
1534435     UK134C   DE1055i    UK134C           ua_2021
1534436     UK135C   DE1028I    UK135C           ua_2021
1534437     UK135C   DE1055i    UK135C           ua_2021

                                           parameter  \
0        "Urban Audit indicators - check estat code"
1        "Urban Audit indicators - check estat code"
2        "Urban Audit indicators - check estat code"
3        "Urban Audit indicators - check estat code"
4        "Urban Audit indicators - check estat code"
...                                              ...
1534433  "Urban Audit indicators - check estat code"
1534434  "Urban Audit indicators - check estat code"
1534435  "Urban Audit indicators - check estat code"
1534436  "Urban Audit indicators - check estat code"
1534437  "Urban Audit indicators - check estat code"

                                                   lineage  \
0        "Data on European cities were collected in the...
1        "Data on European cities were collected in the...
2        "Data on European cities were collected in the...
3        "Data on European cities were collected in the...
4        "Data on European cities were collected in the...
...                                                    ...
1534433  "Data on European cities were collected in the...
1534434  "Data on European cities were collected in the...
1534435  "Data on European cities were collected in the...
1534436  "Data on European cities were collected in the...
1534437  "Data on European cities were collected in the...

                                                datasource  year  \
0        "https://ec.europa.eu/eurostat/cache/metadata/...  1991
1        "https://ec.europa.eu/eurostat/cache/metadata/...  1991
2        "https://ec.europa.eu/eurostat/cache/metadata/...  1991
3        "https://ec.europa.eu/eurostat/cache/metadata/...  1991
4        "https://ec.europa.eu/eurostat/cache/metadata/...  1991
...                                                    ...   ...
1534433  "https://ec.europa.eu/eurostat/cache/metadata/...  2021
1534434  "https://ec.europa.eu/eurostat/cache/metadata/...  2021
1534435  "https://ec.europa.eu/eurostat/cache/metadata/...  2021
1534436  "https://ec.europa.eu/eurostat/cache/metadata/...  2021
1534437  "https://ec.europa.eu/eurostat/cache/metadata/...  2021

         parameter_value
0               8.094399
1               6.816773
2               9.061868
3               8.785802
4               9.533661
...                  ...
1534433              NaN
1534434              NaN
1534435              NaN
1534436              NaN
1534437              NaN

[1534438 rows x 9 columns]
dataframe to sql:
end transformation

In [ ]:
## (A) bring  volumns to rows::
## bring sql table to data frame:

schema = "cube"
name_of_table = "cu_city_eurostat_long" 

## open connection:
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
connection.commit()
## testing reading tables from database:

with engine_postgresql.begin() as conn:
    query_wide_table = text("""
     SELECT  urau_code, "1991", "1992", "1993", "1994", "1995", "1996", "1997", "1998", 
        "1999", "2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008", 
        "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018", 
        "2019", "2020", "2021", city_code, city_code_version, parameter, estat_code, lineage, datasource
    FROM cube.c_city_eurostat
    """)
    df_wide_table = pd.read_sql_query(query_wide_table, conn)
print ("Transformation ob table:")
df_transformed_table =df_wide_table.melt(id_vars=[
                    'estat_code', 
                    'urau_code', 
                    'city_code', 
                    'city_code_version', 
                    'parameter', 
                    'lineage', 
                    'datasource'
                        ], var_name="year", value_name="parameter_value")
print(df_transformed_table)
print ("dataframe to sql:")

###################################################
#name_of_table = name_of_table
export_df_to_sql = df_transformed_table  # dataframe to be exported
schmema_name = schema
###################################################
export_df_to_sql.to_sql(name_of_table, engine_postgresql,  schema=schmema_name,if_exists='replace')
print ("end transformation")

Transformation ob table:
        estat_code urau_code city_code city_code_version  \
0          EN1002V    AT001C    AT001C           ua_2021
1          EN1002V    AT002C    AT002C           ua_2021
2          EN1002V    AT003C    AT003C           ua_2021
3          EN1002V    AT004C    AT004C           ua_2021
4          EN1002V    AT005C    AT005C           ua_2021
...            ...       ...       ...               ...
1478323    TT1080V    UK024C    UK024C           ua_2021
1478324    TT1080V    UK027C    UK027C           ua_2021
1478325    TT1080V    UK029C    UK029C           ua_2021
1478326    TT1080V    UK030C    UK030C           ua_2021
1478327    TT1080V    UK062C    UK062C           ua_2021

                               parameter  \
0        Urban Audit indicators -EN1002V
1        Urban Audit indicators -EN1002V
2        Urban Audit indicators -EN1002V
3        Urban Audit indicators -EN1002V
4        Urban Audit indicators -EN1002V
...                                  ...
1478323  Urban Audit indicators -TT1080V
1478324  Urban Audit indicators -TT1080V
1478325  Urban Audit indicators -TT1080V
1478326  Urban Audit indicators -TT1080V
1478327  Urban Audit indicators -TT1080V

                                                   lineage  \
0        Data on European cities were collected in the ...
1        Data on European cities were collected in the ...
2        Data on European cities were collected in the ...
3        Data on European cities were collected in the ...
4        Data on European cities were collected in the ...
...                                                    ...
1478323  Data on European cities were collected in the ...
1478324  Data on European cities were collected in the ...
1478325  Data on European cities were collected in the ...
1478326  Data on European cities were collected in the ...
1478327  Data on European cities were collected in the ...

                                                datasource  year  \
0        https://ec.europa.eu/eurostat/cache/metadata/e...  1991
1        https://ec.europa.eu/eurostat/cache/metadata/e...  1991
2        https://ec.europa.eu/eurostat/cache/metadata/e...  1991
3        https://ec.europa.eu/eurostat/cache/metadata/e...  1991
4        https://ec.europa.eu/eurostat/cache/metadata/e...  1991
...                                                    ...   ...
1478323  https://ec.europa.eu/eurostat/cache/metadata/e...  2021
1478324  https://ec.europa.eu/eurostat/cache/metadata/e...  2021
1478325  https://ec.europa.eu/eurostat/cache/metadata/e...  2021
1478326  https://ec.europa.eu/eurostat/cache/metadata/e...  2021
1478327  https://ec.europa.eu/eurostat/cache/metadata/e...  2021

         parameter_value
0                    NaN
1                    NaN
2                    NaN
3                    NaN
4                    NaN
...                  ...
1478323              NaN
1478324              NaN
1478325              NaN
1478326              NaN
1478327              NaN

[1478328 rows x 9 columns]
dataframe to sql:
end transformation

In [2]:
## (B)bring row to columns:

schema = "cube"
name_of_table = "c_city_eurostat_wide" #ouput


## open connection:
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
connection.commit()
## testing reading tables from database:

with engine_postgresql.begin() as conn:
    query_long_table = text("""
    
SELECT  
      
            estat_code, 
            city_code, 
            city_code_version, 
            parameter, 
            lineage, 
            datasource, 
            year, 
            parameter_value

            FROM cube.cu_city_eurostat
     ;
    
    """)
    df_wide_table = pd.read_sql_query(query_long_table, conn)
    
    
#print (df_wide_table)



print ("Transformation ob table:")


res = df_wide_table.pivot_table(index=['city_code', 
            'estat_code', 
            'city_code_version', 
            'parameter', 
            'lineage', 
            'datasource'          
        ]    
, columns='year',
                     values='parameter_value', aggfunc='first').reset_index()


###################################################
name_of_table = name_of_table
export_df_to_sql = res  # dataframe to be exported#
schmema_name = schema
###################################################
export_df_to_sql.to_sql(name_of_table, engine_postgresql,  schema=schmema_name,if_exists='replace')
print ("end transformation")

Transformation ob table:
end transformation

In [5]:

## update last transformation results
schema = "cube"
name_of_table = "c_city_eurostat_wide" #ouput
################ update columns:
print ("B) update new columns:")
query_update_new_columns = ("""
         
UPDATE """+schema+"."+name_of_table+""" 
SET
 parameter = CONCAT('Urban Audit indicators -',estat_code),
 lineage   = 'Data on European cities were collected in the Urban Audit and in the Large City Audit project - for more information open the datasource',
 datasource ='https://ec.europa.eu/eurostat/cache/metadata/en/urb_esms.htm';
             
         """)
print (query_update_new_columns)
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
cursor.execute(query_update_new_columns)
connection.commit()

B) update new columns:


UPDATE cube.c_city_eurostat_wide
SET
 parameter = CONCAT('Urban Audit indicators -',estat_code),
 lineage   = 'Data on European cities were collected in the Urban Audit and in the Large City Audit project - for more information open the datasource',
 datasource ='https://ec.europa.eu/eurostat/cache/metadata/en/urb_esms.htm';

In [24]:
## (B)bring row to columns:

schema = "cube"
name_of_table = "c_city_water_classes_clc18" #ouput


## open connection:
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
connection.commit()
## testing reading tables from database:

with engine_postgresql.begin() as conn:
    query_long_table = text("""
    
SELECT 
        clc_code, 
        ---pixel_count,
        pixel_count_norm, 
        city_code, 
        city_code_version, 
        parameter, 
        parameter_id, 
        parameter_value, 
        lineage, 
        datasource

FROM cube.cu_city_water_classes_clc18
                            
                            ;
    
    """)
    df_wide_table = pd.read_sql_query(query_long_table, conn)
    
    
#print (df_wide_table)



print ("Transformation ob table:")


res = df_wide_table.pivot_table(index=['city_code', 
        'city_code_version', 
        'parameter', 
        'parameter_id', 
        'lineage', 
        'datasource']    
, columns='clc_code',
                     values='pixel_count_norm', aggfunc='first').reset_index()

## rename columns:
df_final = res.rename(columns={
                        40 : 'clc_water_courses_40',
                        41 : 'clc_water_bodies_41',
                        42 : 'clc_coastal_lagoons_42',
                        43 : 'clc_estuaries_43',
                        44 : 'clc_sea_and_ocean_44'})


## print ("dataframe to sql:")

###################################################
name_of_table = name_of_table
export_df_to_sql = df_final  # dataframe to be exported#
schmema_name = schema
###################################################
export_df_to_sql.to_sql(name_of_table, engine_postgresql,  schema=schmema_name,if_exists='replace')
print ("end transformation")

Transformation ob table:
end transformation

In [32]:
## (B)bring row to columns:

schema = "cube"
name_of_table = "c_utci_indicator_test" #ouput

## open connection:
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
connection.commit()
## testing reading tables from database:

with engine_postgresql.begin() as conn:
    query_long_table = text("""
    
SELECT 
        utci_class, year, city_code, city_code_version, parameter, parameter_value, lineage, datasource

FROM cube.cu_utci_indicator
                            
                            ;
    
    """)
    df_wide_table = pd.read_sql_query(query_long_table, conn)
    
    
#print (df_wide_table)



print ("Transformation ob table:")



#utci_class, 
#year,
#parameter_value, 


res = df_wide_table.pivot_table(index=[
             'utci_class'
            ,'city_code'
            ,'city_code_version'
            ,'parameter'
            ,'lineage'
            ,'datasource']    
, columns='year',
                     values='parameter_value', aggfunc='first').reset_index()

## rename columns:
#df_final = res.rename(columns={
#                        40 : 'clc_water_courses_40',
#                        41 : 'clc_water_bodies_41',
#                        42 : 'clc_coastal_lagoons_42',
#                        43 : 'clc_estuaries_43',
#                        44 : 'clc_sea_and_ocean_44'})


## print ("dataframe to sql:")

###################################################
name_of_table = name_of_table
export_df_to_sql = res  # dataframe to be exported#
schmema_name = schema
###################################################
export_df_to_sql.to_sql(name_of_table, engine_postgresql,  schema=schmema_name,if_exists='replace')
print ("end transformation")

Transformation ob table:
end transformation

In [28]:
res

year       city_code city_code_version  \
utci_class
0            AT001C1           ua_2021
1            AT001C1           ua_2021
2            AT001C1           ua_2021
3            AT001C1           ua_2021
4            AT001C1           ua_2021
...              ...               ...
6309         UK586C1           ua_2021
6310         UK586C1           ua_2021
6311         UK586C1           ua_2021
6312         UK586C1           ua_2021
6313         UK586C1           ua_2021

year                                                parameter  \
utci_class
0           Number days per year of UTCI-class (derived fr...
1           Number days per year of UTCI-class (derived fr...
2           Number days per year of UTCI-class (derived fr...
3           Number days per year of UTCI-class (derived fr...
4           Number days per year of UTCI-class (derived fr...
...                                                       ...
6309        Number days per year of UTCI-class (derived fr...
6310        Number days per year of UTCI-class (derived fr...
6311        Number days per year of UTCI-class (derived fr...
6312        Number days per year of UTCI-class (derived fr...
6313        Number days per year of UTCI-class (derived fr...

year                                                  lineage  \
utci_class
0           The night hours were first extracted from the ...
1           The night hours were first extracted from the ...
2           The night hours were first extracted from the ...
3           The night hours were first extracted from the ...
4           The night hours were first extracted from the ...
...                                                       ...
6309        The night hours were first extracted from the ...
6310        The night hours were first extracted from the ...
6311        The night hours were first extracted from the ...
6312        The night hours were first extracted from the ...
6313        The night hours were first extracted from the ...

year                                               datasource  \
utci_class
0           cds.climate.copernicus.eu -> https://cds.clima...
1           cds.climate.copernicus.eu -> https://cds.clima...
2           cds.climate.copernicus.eu -> https://cds.clima...
3           cds.climate.copernicus.eu -> https://cds.clima...
4           cds.climate.copernicus.eu -> https://cds.clima...
...                                                       ...
6309        cds.climate.copernicus.eu -> https://cds.clima...
6310        cds.climate.copernicus.eu -> https://cds.clima...
6311        cds.climate.copernicus.eu -> https://cds.clima...
6312        cds.climate.copernicus.eu -> https://cds.clima...
6313        cds.climate.copernicus.eu -> https://cds.clima...

year                      2018                                           \
utci_class Extreme Cold Stress Extreme Heat Stress Moderate Cold Stress
0                          NaN                 NaN                129.0
1                          NaN                 NaN                  NaN
2                          NaN                 NaN                  NaN
3                          NaN                 NaN                  NaN
4                          NaN                 NaN                  NaN
...                        ...                 ...                  ...
6309                       NaN                 NaN                  NaN
6310                       NaN                 NaN                  NaN
6311                       NaN                 NaN                  NaN
6312                       NaN                 NaN                  NaN
6313                       NaN                 NaN                  NaN

year                                               ...                2022  \
utci_class Moderate Heat Stress No Thermal Stress  ... Extreme Cold Stress
0                           NaN               NaN  ...                 NaN
1                         114.0               NaN  ...                 NaN
2                           NaN             283.0  ...                 NaN
3                           NaN               NaN  ...                 NaN
4                           NaN               NaN  ...                 NaN
...                         ...               ...  ...                 ...
6309                       24.0               NaN  ...                 NaN
6310                        NaN             289.0  ...                 NaN
6311                        NaN               NaN  ...                 NaN
6312                        NaN               NaN  ...                 NaN
6313                        NaN               NaN  ...                 NaN

year                                                                      \
utci_class Extreme Heat Stress Moderate Cold Stress Moderate Heat Stress
0                          NaN                138.0                  NaN
1                          NaN                  NaN                 86.0
2                          NaN                  NaN                  NaN
3                          NaN                  NaN                  NaN
4                          NaN                  NaN                  NaN
...                        ...                  ...                  ...
6309                       NaN                  NaN                 12.0
6310                       NaN                  NaN                  NaN
6311                       NaN                  NaN                  NaN
6312                       NaN                  NaN                  NaN
6313                       NaN                  NaN                  NaN

year                                                                \
utci_class No Thermal Stress Slight Cold Stress Strong Cold Stress
0                        NaN                NaN                NaN
1                        NaN                NaN                NaN
2                      314.0                NaN                NaN
3                        NaN              135.0                NaN
4                        NaN                NaN               15.0
...                      ...                ...                ...
6309                     NaN                NaN                NaN
6310                   346.0                NaN                NaN
6311                     NaN              219.0                NaN
6312                     NaN                NaN                7.0
6313                     NaN                NaN                NaN

year
utci_class Strong Heat Stress Very Strong Cold Stress Very Strong Heat Stress
0                         NaN                     NaN                     NaN
1                         NaN                     NaN                     NaN
2                         NaN                     NaN                     NaN
3                         NaN                     NaN                     NaN
4                         NaN                     NaN                     NaN
...                       ...                     ...                     ...
6309                      NaN                     NaN                     NaN
6310                      NaN                     NaN                     NaN
6311                      NaN                     NaN                     NaN
6312                      NaN                     NaN                     NaN
6313                      1.0                     NaN                     NaN

[6314 rows x 54 columns]

In [65]:


print ("send table to SQL:")

###################################################
name_of_table = 'cu_test'
export_df_to_sql = df_transformed_table  # dataframe to be exported
schmema_name ='cube'
###################################################
export_df_to_sql.to_sql(name_of_table, engine_postgresql,  schema=schmema_name,if_exists='replace')



## close connection:
#cursor.close()
#connection.commit()

send table to SQL:

KeyboardInterrupt:

## (4.1) VIEW 1 ()

In [ ]:
## (3.1) Set up of VIEW

schema = "cube"
name_of_table = "cu_urban_atlas_test"

print ("A) Add new columns:")
query_view = ("""
         
-- View: cube.CITY_main_cube

-- DROP VIEW cube."CITY_main_cube";

CREATE OR REPLACE VIEW cube."CITY_main_cube"
 AS

 SELECT cu_city_drought.city_code,
    cu_city_drought.city_code_version,
    cu_city_drought.parameter,
    cu_city_drought.parameter_id,
    cu_city_drought.parameter_value,
    cu_city_drought.year
   FROM cube.cu_city_drought
UNION
 SELECT cu_city_burnt_area_wild_fire.city_code,
    cu_city_burnt_area_wild_fire.city_code_version,
    cu_city_burnt_area_wild_fire.parameter,
    cu_city_burnt_area_wild_fire.parameter_id,
    cu_city_burnt_area_wild_fire.parameter_value,
    cu_city_burnt_area_wild_fire.year
   FROM cube.cu_city_burnt_area_wild_fire
UNION
 SELECT cu_urban_atlas.city_code,
    cu_urban_atlas.city_code_version,
    cu_urban_atlas.parameter,
    cu_urban_atlas.parameter_id,
    cu_urban_atlas.parameter_value,
    cu_urban_atlas.year
   FROM cube.cu_urban_atlas
UNION
 SELECT cu_city_eurostat.city_code,
    cu_city_eurostat.city_code_version,
    cu_city_eurostat.parameter,
    cu_city_eurostat.parameter_id,
    cu_city_eurostat.parameter_value,
    cu_city_eurostat.year
   FROM cube.cu_city_eurostat
UNION
 SELECT cu_city_treecover.city_code,
    cu_city_treecover.city_code_version,
    cu_city_treecover.parameter,
    cu_city_treecover.parameter_id,
    cu_city_treecover.parameter_value,
    cu_city_treecover.year
   FROM cube.cu_city_treecover
UNION
 SELECT cu_city_dem.city_code,
    cu_city_dem.city_code_version,
    cu_city_dem.parameter,
    cu_city_dem.parameter_id,
    cu_city_dem.parameter_value,
    cu_city_dem.year
   FROM cube.xxcu_city_dem_mean
UNION
 SELECT cu_city_imperviousness_area.city_code,
    cu_city_imperviousness_area.city_code_version,
    cu_city_imperviousness_area.parameter,
    cu_city_imperviousness_area.parameter_id,
    cu_city_imperviousness_area.parameter_value,
    cu_city_imperviousness_area.year
   FROM cube.cu_city_imperviousness_area;
     
            
         """)

print (query_new_columns)
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
cursor.execute(query_view)
connection.commit()

In [9]:
### updates climatg

## (2.1) Adding missing metadata.

schema = "cube"
name_of_table = "cu_city_era5_summer_days_ml"

print ("A) Add new columns:")
query_new_columns = ("""
         
ALTER TABLE """+schema+"."+name_of_table+""" 
--ADD COLUMN city_code VARCHAR,
ADD COLUMN city_code_version VARCHAR
--ADD COLUMN parameter VARCHAR,

--ADD COLUMN parameter_value FLOAT,
--ADD COLUMN lineage TEXT,
--ADD COLUMN datasource VARCHAR;
         
           
         """)

print (query_new_columns)
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
cursor.execute(query_new_columns)
connection.commit()


################ update columns:
print ("B) update new columns:")
query_update_new_columns = ("""
         
UPDATE """+schema+"."+name_of_table+""" 
SET
        --city_code =urau_code,
        city_code_version ='ua_2021'
        --estat_code =indic_code,
        ---parameter_value = -999,
        
       -- parameter = CONCAT('Urban Audit indicators -',indic_code),
        --lineage   = 'Data on European cities were collected in the Urban Audit and in the Large City Audit project - for more information open the datasource',
        --datasource ='https://ec.europa.eu/eurostat/cache/metadata/en/urb_esms.htm';  
            
         """)
print (query_update_new_columns)
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
cursor.execute(query_update_new_columns)
connection.commit()


print ("update of table done!")

A) Add new columns:


ALTER TABLE cube.cu_city_era5_summer_days_ml
--ADD COLUMN city_code VARCHAR,
ADD COLUMN city_code_version VARCHAR
--ADD COLUMN parameter VARCHAR,

--ADD COLUMN parameter_value FLOAT,
--ADD COLUMN lineage TEXT,
--ADD COLUMN datasource VARCHAR;

DuplicateColumn: column "city_code_version" of relation "cu_city_era5_summer_days_ml" already exists

In [8]:
## (B)bring row to columns:

schema = "cube"
name_of_table = "cu_city_era5_summer_days_ml" #ouput


## open connection:
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
connection.commit()
## testing reading tables from database:

with engine_postgresql.begin() as conn:
    query_long_table = text("""
    
SELECT city_code, parameter_value,city_code_version, year, parameter, parameter_id, lineage, datasource
	FROM cube.cu_city_era5_summer_days_ml ;
     
    
    """)
    df_wide_table = pd.read_sql_query(query_long_table, conn)
    
    
#print (df_wide_table)



print ("Transformation ob table:")


res = df_wide_table.pivot_table(index=['city_code', 
     
            'city_code_version', 
            'parameter', 
            'parameter_id',
            'lineage', 
            'datasource' ]    
, columns='year',
                     values='parameter_value', aggfunc='first').reset_index()


###################################################
name_of_table = name_of_table
export_df_to_sql = res  # dataframe to be exported#
schmema_name = schema
###################################################
export_df_to_sql.to_sql(name_of_table, engine_postgresql,  schema=schmema_name,if_exists='replace')
print ("end transformation")

Transformation ob table:
end transformation

In [20]:
print(res)

year city_code city_code_version  \
0      AT001C1           ua_2021
1      AT002C1           ua_2021
2      AT003C1           ua_2021
3      AT004C1           ua_2021
4      AT005C1           ua_2021
..         ...               ...
915    UK582C1           ua_2021
916    UK583C1           ua_2021
917    UK584C1           ua_2021
918    UK585C1           ua_2021
919    UK586C1           ua_2021

year                                          parameter  \
0     Count of summer days (>25 degrees) per year pe...
1     Count of summer days (>25 degrees) per year pe...
2     Count of summer days (>25 degrees) per year pe...
3     Count of summer days (>25 degrees) per year pe...
4     Count of summer days (>25 degrees) per year pe...
..                                                  ...
915   Count of summer days (>25 degrees) per year pe...
916   Count of summer days (>25 degrees) per year pe...
917   Count of summer days (>25 degrees) per year pe...
918   Count of summer days (>25 degrees) per year pe...
919   Count of summer days (>25 degrees) per year pe...

year                 parameter_id  \
0     city_era5_summer_days_count
1     city_era5_summer_days_count
2     city_era5_summer_days_count
3     city_era5_summer_days_count
4     city_era5_summer_days_count
..                            ...
915   city_era5_summer_days_count
916   city_era5_summer_days_count
917   city_era5_summer_days_count
918   city_era5_summer_days_count
919   city_era5_summer_days_count

year                                            lineage  \
0     https://github.com/FAIRiCUBE/uc1-urban-climate...
1     https://github.com/FAIRiCUBE/uc1-urban-climate...
2     https://github.com/FAIRiCUBE/uc1-urban-climate...
3     https://github.com/FAIRiCUBE/uc1-urban-climate...
4     https://github.com/FAIRiCUBE/uc1-urban-climate...
..                                                  ...
915   https://github.com/FAIRiCUBE/uc1-urban-climate...
916   https://github.com/FAIRiCUBE/uc1-urban-climate...
917   https://github.com/FAIRiCUBE/uc1-urban-climate...
918   https://github.com/FAIRiCUBE/uc1-urban-climate...
919   https://github.com/FAIRiCUBE/uc1-urban-climate...

year                                         datasource  2018  2021
0     https://cloud.google.com/storage/docs/public-d...  92.0  65.0
1     https://cloud.google.com/storage/docs/public-d...  30.0  28.0
2     https://cloud.google.com/storage/docs/public-d...  45.0  31.0
3     https://cloud.google.com/storage/docs/public-d...  58.0  33.0
4     https://cloud.google.com/storage/docs/public-d...   8.0  10.0
..                                                  ...   ...   ...
915   https://cloud.google.com/storage/docs/public-d...  27.0  12.0
916   https://cloud.google.com/storage/docs/public-d...  30.0  11.0
917   https://cloud.google.com/storage/docs/public-d...   2.0   1.0
918   https://cloud.google.com/storage/docs/public-d...   2.0   1.0
919   https://cloud.google.com/storage/docs/public-d...   6.0   4.0

[920 rows x 8 columns]

In [5]:
## (2.1) Adding missing metadata.

schema = "cube"
name_of_table =  "c_city_water_classes_clc18"

print ("A) Add new columns:")
query_new_columns = ("""
         
ALTER TABLE """+schema+"."+name_of_table+""" 
ADD COLUMN city_code VARCHAR,
ADD COLUMN city_code_version VARCHAR,
ADD COLUMN parameter VARCHAR,
ADD COLUMN parameter_id VARCHAR, 
ADD COLUMN parameter_value FLOAT,
ADD COLUMN lineage TEXT,
ADD COLUMN datasource VARCHAR;        
         """)

print (query_new_columns)
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
cursor.execute(query_new_columns)
connection.commit()

################ update columns:
print ("B) update new columns:")
query_update_new_columns = ("""
         
UPDATE """+schema+"."+name_of_table+""" 
SET
city_code = urau_code,
city_code_version ='ua_2021',
parameter = '"Urban Audit indicators - check estat code"',
parameter_value = pixel_count_norm ,
 parameter_id = 'city_clc2018_water_in_and_around',
 lineage   = 'Get land cover data from CLC 2018 in and around city, by creating a buffer around city geometry. This notebook focuses on Water classes (CLC4**): https://github.com/FAIRiCUBE/uc1-urban-climate/blob/master/notebooks/dev/f02_cube/subcubes_CLC2018_400.ipynb',
 datasource ='https://land.copernicus.eu/en/products/corine-land-cover';
         
            
         """)
print (query_update_new_columns)
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
cursor.execute(query_update_new_columns)
connection.commit()


print ("update of table done!")

A) Add new columns:


ALTER TABLE cube.c_city_water_classes_clc18
ADD COLUMN city_code VARCHAR,
ADD COLUMN city_code_version VARCHAR,
ADD COLUMN parameter VARCHAR,
ADD COLUMN parameter_id VARCHAR,
ADD COLUMN parameter_value FLOAT,
ADD COLUMN lineage TEXT,
ADD COLUMN datasource VARCHAR;

B) update new columns:


UPDATE cube.c_city_water_classes_clc18
SET
city_code = urau_code,
city_code_version ='ua_2021',
parameter = '"Urban Audit indicators - check estat code"',
parameter_value = pixel_count_norm ,
 parameter_id = 'city_clc2018_water_in_and_around',
 lineage   = 'Get land cover data from CLC 2018 in and around city, by creating a buffer around city geometry. This notebook focuses on Water classes (CLC4**): https://github.com/FAIRiCUBE/uc1-urban-climate/blob/master/notebooks/dev/f02_cube/subcubes_CLC2018_400.ipynb',
 datasource ='https://land.copernicus.eu/en/products/corine-land-cover';



update of table done!

In [10]:
## (B)bring row to columns:

schema = "cube"
name_of_table = "c_city_era5_2m_temperature" #ouput


## open connection:
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
connection.commit()
## testing reading tables from database:

with engine_postgresql.begin() as conn:
    query_long_table = text("""
SELECT
    city_code, 
    parameter_id, 
    parameter_value, 
    year, 
    city_code_version, 
    parameter, 
    lineage,
    datasource                    
    FROM cube.cu_city_era5_2m_temperature;
    """)
    df_wide_table = pd.read_sql_query(query_long_table, conn)
    
    
#print (df_wide_table)



print ("Transformation ob table:")


res = df_wide_table.pivot_table(index=[
              'city_code', 
            'parameter_id', 
            'city_code_version', 
            'parameter', 
            'lineage', 
            'datasource'          
        ]    
, columns='year',
                     values='parameter_value', aggfunc='first').reset_index()


###################################################
name_of_table = name_of_table
export_df_to_sql = res  # dataframe to be exported#
schmema_name = schema
###################################################
export_df_to_sql.to_sql(name_of_table, engine_postgresql,  schema=schmema_name,if_exists='replace')
print ("end transformation")

Transformation ob table:
end transformation

In [3]:
## (A) bring  volumns to rows::
## bring sql table to data frame:

schema = "cube"
name_of_table = "cu_city_hrl_imperviousness_2018" 


## open connection:
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
connection.commit()
## testing reading tables from database:

with engine_postgresql.begin() as conn:
    query_wide_table = text("""
   SELECT city_code, imp2018_area_ha, city_code_version, parameter, parameter_id, parameter_value, lineage, datasource
	FROM cube.c_city_hrl_imperviousness_2018;
    
    
    """)
    df_wide_table = pd.read_sql_query(query_wide_table, conn)
    
    
#print (df_wide_table)



print ("Transformation ob table:")



#
df_transformed_table =df_wide_table.melt(id_vars=[
                    'city_code', 
                    'city_code_version', 
                    'parameter_id', 
                    'parameter', 
                    'lineage', 
                    'datasource'
                        ], var_name="year", value_name="parameter_value")



print(df_transformed_table)



print ("dataframe to sql:")


###################################################
#name_of_table = name_of_table
export_df_to_sql = df_transformed_table  # dataframe to be exported
schmema_name = schema
###################################################
export_df_to_sql.to_sql(name_of_table, engine_postgresql,  schema=schmema_name,if_exists='replace')
print ("end transformation")

Transformation ob table:
     city_code city_code_version   parameter_id  \
0       FR022C           ua_2021  city_imp_2018
1       IT049C           ua_2021  city_imp_2018
2       SE014C           ua_2021  city_imp_2018
3       LT006C           ua_2021  city_imp_2018
4       ES043C           ua_2021  city_imp_2018
...        ...               ...            ...
1443    ES019C           ua_2021  city_imp_2018
1444    RO020C           ua_2021  city_imp_2018
1445    NL014C           ua_2021  city_imp_2018
1446    IT043C           ua_2021  city_imp_2018
1447    SE012C           ua_2021  city_imp_2018

                                         parameter  \
0     HRL Imperviousness 2018 [ha] inside the city
1     HRL Imperviousness 2018 [ha] inside the city
2     HRL Imperviousness 2018 [ha] inside the city
3     HRL Imperviousness 2018 [ha] inside the city
4     HRL Imperviousness 2018 [ha] inside the city
...                                            ...
1443  HRL Imperviousness 2018 [ha] inside the city
1444  HRL Imperviousness 2018 [ha] inside the city
1445  HRL Imperviousness 2018 [ha] inside the city
1446  HRL Imperviousness 2018 [ha] inside the city
1447  HRL Imperviousness 2018 [ha] inside the city

                                                lineage  \
0     https://sdi.eea.europa.eu/catalogue/srv/eng/ca...
1     https://sdi.eea.europa.eu/catalogue/srv/eng/ca...
2     https://sdi.eea.europa.eu/catalogue/srv/eng/ca...
3     https://sdi.eea.europa.eu/catalogue/srv/eng/ca...
4     https://sdi.eea.europa.eu/catalogue/srv/eng/ca...
...                                                 ...
1443  https://sdi.eea.europa.eu/catalogue/srv/eng/ca...
1444  https://sdi.eea.europa.eu/catalogue/srv/eng/ca...
1445  https://sdi.eea.europa.eu/catalogue/srv/eng/ca...
1446  https://sdi.eea.europa.eu/catalogue/srv/eng/ca...
1447  https://sdi.eea.europa.eu/catalogue/srv/eng/ca...

                                             datasource             year  \
0     https://land.copernicus.eu/en/products/high-re...  imp2018_area_ha
1     https://land.copernicus.eu/en/products/high-re...  imp2018_area_ha
2     https://land.copernicus.eu/en/products/high-re...  imp2018_area_ha
3     https://land.copernicus.eu/en/products/high-re...  imp2018_area_ha
4     https://land.copernicus.eu/en/products/high-re...  imp2018_area_ha
...                                                 ...              ...
1443  https://land.copernicus.eu/en/products/high-re...  parameter_value
1444  https://land.copernicus.eu/en/products/high-re...  parameter_value
1445  https://land.copernicus.eu/en/products/high-re...  parameter_value
1446  https://land.copernicus.eu/en/products/high-re...  parameter_value
1447  https://land.copernicus.eu/en/products/high-re...  parameter_value

      parameter_value
0           4092.6243
1            691.3909
2           2110.9868
3           1407.3721
4            925.4147
...               ...
1443        4128.2687
1444         412.2846
1445        4726.9006
1446        1315.1937
1447        3530.7521

[1448 rows x 8 columns]
dataframe to sql:

C:\Users\ManuelLÃ¶hnertz\AppData\Local\Temp\ipykernel_5856\708495879.py:33: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  df_transformed_table =df_wide_table.melt(id_vars=[

end transformation