## Database: EURSTAT indicators

## DATABSE connection:

In [1]:
import numpy as np
import pandas as pd
import xarray as x
from configparser import ConfigParser
import sqlalchemy as sa # conection to the database

from sqlalchemy import create_engine, text
from datetime import datetime, timedelta



print (" import data")
### SET conection to MS-sql server:
################################################## SET postgre-sql connection:

################################################## read database keys:
def config(filename, section='postgresql'):
    # create a parser
    parser = ConfigParser()
    # read config file
    parser.read(filename)

    # get section, default to postgresql
    db = {}
    if parser.has_section(section):
        params = parser.items(section)
        for param in params:
            db[param[0]] = param[1]
    else:
        raise Exception(
            'Section {0} not found in the {1} file'.format(section, filename))

    return db

keys = config(filename='database.ini')

POSTGRESQL_SERVER_NAME=keys['host']
PORT=                  keys['port']
Database_name =        keys['database']
USER =                 keys['user']
PSW =                  keys['password']
##################################################

engine_postgresql = sa.create_engine('postgresql://'+USER+':'+PSW+ '@'+POSTGRESQL_SERVER_NAME+':'+str(PORT)+ '/' + Database_name)
print (engine_postgresql)

 import data
Engine(postgresql://manuel:***@5.75.190.71:6947/fairicube)

#### (1.1)  Labour market - Unemployment rate [EC1020I]= EC1010V/EC1174V*100

In [5]:
#### (1.1)  Labour market - Unemployment rate [EC1020I] = EC1010V/EC1174V*100


################ OUTPUT name:
schema = "cube"
name_of_table = "c_city_eurostat_EC1020I"


## removing table:...........................................S
query_drop = ("DROP TABLE IF EXISTS "+ schema +"."+ name_of_table +" ;") #[EC1020I]
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
cursor.execute(query_drop)
connection.commit()
## removing table:...........................................E

### calc_indicator EC1020I and Export to a new table inside the database:
query = ("""      
SELECT
  urau_code,
         
  'EC1020I' as estat_code,

  city_code,
  city_code_version,
  lineage,
  datasource,
    MAX(CASE WHEN indic_code= 'EC1010V' THEN  "1991" ELSE NULL END) / MAX( CASE WHEN indic_code= 'EC1174V' THEN  "1991" ELSE NULL END ) * 100 as "1991" ,
	MAX(CASE WHEN indic_code= 'EC1010V' THEN  "1992" ELSE NULL END) / MAX (CASE WHEN indic_code = 'EC1174V' THEN "1992" ELSE NULL END ) * 100 as "1992" ,
	MAX(CASE WHEN indic_code= 'EC1010V' THEN  "1993" ELSE NULL END) / MAX (CASE WHEN indic_code = 'EC1174V' THEN "1993" ELSE NULL END ) * 100 as "1993" ,
	MAX(CASE WHEN indic_code= 'EC1010V' THEN  "1994" ELSE NULL END) / MAX (CASE WHEN indic_code = 'EC1174V' THEN "1994" ELSE NULL END ) * 100 as "1994" ,
	MAX(CASE WHEN indic_code= 'EC1010V' THEN  "1995" ELSE NULL END) / MAX (CASE WHEN indic_code = 'EC1174V' THEN "1995" ELSE NULL END ) * 100 as "1995" ,
	MAX(CASE WHEN indic_code= 'EC1010V' THEN  "1996" ELSE NULL END) / MAX (CASE WHEN indic_code = 'EC1174V' THEN "1996" ELSE NULL END ) * 100 as "1996" ,
	MAX(CASE WHEN indic_code= 'EC1010V' THEN  "1997" ELSE NULL END) / MAX (CASE WHEN indic_code = 'EC1174V' THEN "1997" ELSE NULL END ) * 100 as "1997" ,
	MAX(CASE WHEN indic_code= 'EC1010V' THEN  "1998" ELSE NULL END) / MAX (CASE WHEN indic_code = 'EC1174V' THEN "1998" ELSE NULL END ) * 100 as "1998" ,
	MAX(CASE WHEN indic_code= 'EC1010V' THEN  "1999" ELSE NULL END) / MAX (CASE WHEN indic_code = 'EC1174V' THEN "1999" ELSE NULL END ) * 100 as "1999" ,
	MAX(CASE WHEN indic_code= 'EC1010V' THEN  "2000" ELSE NULL END) / MAX (CASE WHEN indic_code = 'EC1174V' THEN "2000" ELSE NULL END ) * 100 as "2000" ,
	MAX(CASE WHEN indic_code= 'EC1010V' THEN  "2001" ELSE NULL END) / MAX (CASE WHEN indic_code = 'EC1174V' THEN "2001" ELSE NULL END ) * 100 as "2001" ,
	MAX(CASE WHEN indic_code= 'EC1010V' THEN  "2002" ELSE NULL END) / MAX (CASE WHEN indic_code = 'EC1174V' THEN "2002" ELSE NULL END ) * 100 as "2002" ,
	MAX(CASE WHEN indic_code= 'EC1010V' THEN  "2003" ELSE NULL END) / MAX (CASE WHEN indic_code = 'EC1174V' THEN "2003" ELSE NULL END ) * 100 as "2003" ,
	MAX(CASE WHEN indic_code= 'EC1010V' THEN  "2004" ELSE NULL END) / MAX (CASE WHEN indic_code = 'EC1174V' THEN "2004" ELSE NULL END ) * 100 as "2004" ,
	MAX(CASE WHEN indic_code= 'EC1010V' THEN  "2005" ELSE NULL END) / MAX (CASE WHEN indic_code = 'EC1174V' THEN "2005" ELSE NULL END ) * 100 as "2005" ,
	MAX(CASE WHEN indic_code= 'EC1010V' THEN  "2006" ELSE NULL END) / MAX (CASE WHEN indic_code = 'EC1174V' THEN "2006" ELSE NULL END ) * 100 as "2006" ,
	MAX(CASE WHEN indic_code= 'EC1010V' THEN  "2007" ELSE NULL END) / MAX (CASE WHEN indic_code = 'EC1174V' THEN "2007" ELSE NULL END ) * 100 as "2007" ,
	MAX(CASE WHEN indic_code= 'EC1010V' THEN  "2008" ELSE NULL END) / MAX (CASE WHEN indic_code = 'EC1174V' THEN "2008" ELSE NULL END ) * 100 as "2008" ,
	MAX(CASE WHEN indic_code= 'EC1010V' THEN  "2009" ELSE NULL END) / MAX (CASE WHEN indic_code = 'EC1174V' THEN "2009" ELSE NULL END ) * 100 as "2009" ,
	MAX(CASE WHEN indic_code= 'EC1010V' THEN  "2010" ELSE NULL END) / MAX (CASE WHEN indic_code = 'EC1174V' THEN "2010" ELSE NULL END ) * 100 as "2010" ,
	MAX(CASE WHEN indic_code= 'EC1010V' THEN  "2011" ELSE NULL END) / MAX (CASE WHEN indic_code = 'EC1174V' THEN "2011" ELSE NULL END ) * 100 as "2011" ,
	MAX(CASE WHEN indic_code= 'EC1010V' THEN  "2012" ELSE NULL END) / MAX (CASE WHEN indic_code = 'EC1174V' THEN "2012" ELSE NULL END ) * 100 as "2012" ,
	MAX(CASE WHEN indic_code= 'EC1010V' THEN  "2013" ELSE NULL END) / MAX (CASE WHEN indic_code = 'EC1174V' THEN "2013" ELSE NULL END ) * 100 as "2013" ,
	MAX(CASE WHEN indic_code= 'EC1010V' THEN  "2014" ELSE NULL END) / MAX (CASE WHEN indic_code = 'EC1174V' THEN "2014" ELSE NULL END ) * 100 as "2014" ,
	MAX(CASE WHEN indic_code= 'EC1010V' THEN  "2015" ELSE NULL END) / MAX (CASE WHEN indic_code = 'EC1174V' THEN "2015" ELSE NULL END ) * 100 as "2015" ,
	MAX(CASE WHEN indic_code= 'EC1010V' THEN  "2016" ELSE NULL END) / MAX (CASE WHEN indic_code = 'EC1174V' THEN "2016" ELSE NULL END ) * 100 as "2016" ,
	MAX(CASE WHEN indic_code= 'EC1010V' THEN  "2017" ELSE NULL END) / MAX (CASE WHEN indic_code = 'EC1174V' THEN "2017" ELSE NULL END ) * 100 as "2017" ,
	MAX(CASE WHEN indic_code= 'EC1010V' THEN  "2018" ELSE NULL END) / MAX (CASE WHEN indic_code = 'EC1174V' THEN "2018" ELSE NULL END ) * 100 as "2018" ,
	MAX(CASE WHEN indic_code= 'EC1010V' THEN  "2019" ELSE NULL END) / MAX (CASE WHEN indic_code = 'EC1174V' THEN "2019" ELSE NULL END ) * 100 as "2019" ,
	MAX(CASE WHEN indic_code= 'EC1010V' THEN  "2020" ELSE NULL END) / MAX (CASE WHEN indic_code = 'EC1174V' THEN "2020" ELSE NULL END ) * 100 as "2020" ,
	MAX(CASE WHEN indic_code= 'EC1010V' THEN  "2021" ELSE NULL END) / MAX (CASE WHEN indic_code = 'EC1174V' THEN "2021" ELSE NULL END ) * 100 as "2021" 
INTO """+ schema +"."+ name_of_table + """														   
FROM cube.c_city_eurostat
WHERE
  indic_code IN ('EC1010V', 'EC1174V') 

GROUP BY

  urau_code,
  city_code,
  city_code_version,
  lineage,
  datasource;
  
  
         """)
#print (query)
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
cursor.execute(query)
connection.commit()

print ("end indicator done ")

end indicator done

#### (1.2)  Population structure - Proportion of population aged 65-74 years [DE1028I]  = DE1028V/DE1001V*100

In [6]:
#### (1.2)  Population structure - Proportion of population aged 65-74 years [DE1028I]  = DE1028V/DE1001V*100


################ OUTPUT name:
schema = "cube"
name_of_table = "c_city_eurostat_DE1028I"


## removing table:...........................................S
query_drop = ("DROP TABLE IF EXISTS "+ schema +"."+ name_of_table +" ;") #[DE1028I]
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
cursor.execute(query_drop)
connection.commit()
## removing table:...........................................E

### calc_indicator EC1020I and Export to a new table inside the database:
query = ("""      
SELECT
  urau_code,
         
  'DE1028I' as estat_code,

  city_code,
  city_code_version,
  lineage,
  datasource,
  ---DE1028V/DE1001V*100 (formular)
    MAX(CASE WHEN indic_code= 'DE1028V' THEN  "1991" ELSE NULL END) / MAX( CASE WHEN indic_code=  'DE1001V' THEN  "1991" ELSE NULL END ) * 100 as "1991" ,
	MAX(CASE WHEN indic_code= 'DE1028V' THEN  "1992" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "1992" ELSE NULL END ) * 100 as "1992" ,
	MAX(CASE WHEN indic_code= 'DE1028V' THEN  "1993" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "1993" ELSE NULL END ) * 100 as "1993" ,
	MAX(CASE WHEN indic_code= 'DE1028V' THEN  "1994" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "1994" ELSE NULL END ) * 100 as "1994" ,
	MAX(CASE WHEN indic_code= 'DE1028V' THEN  "1995" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "1995" ELSE NULL END ) * 100 as "1995" ,
	MAX(CASE WHEN indic_code= 'DE1028V' THEN  "1996" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "1996" ELSE NULL END ) * 100 as "1996" ,
	MAX(CASE WHEN indic_code= 'DE1028V' THEN  "1997" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "1997" ELSE NULL END ) * 100 as "1997" ,
	MAX(CASE WHEN indic_code= 'DE1028V' THEN  "1998" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "1998" ELSE NULL END ) * 100 as "1998" ,
	MAX(CASE WHEN indic_code= 'DE1028V' THEN  "1999" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "1999" ELSE NULL END ) * 100 as "1999" ,
	MAX(CASE WHEN indic_code= 'DE1028V' THEN  "2000" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2000" ELSE NULL END ) * 100 as "2000" ,
	MAX(CASE WHEN indic_code= 'DE1028V' THEN  "2001" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2001" ELSE NULL END ) * 100 as "2001" ,
	MAX(CASE WHEN indic_code= 'DE1028V' THEN  "2002" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2002" ELSE NULL END ) * 100 as "2002" ,
	MAX(CASE WHEN indic_code= 'DE1028V' THEN  "2003" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2003" ELSE NULL END ) * 100 as "2003" ,
	MAX(CASE WHEN indic_code= 'DE1028V' THEN  "2004" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2004" ELSE NULL END ) * 100 as "2004" ,
	MAX(CASE WHEN indic_code= 'DE1028V' THEN  "2005" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2005" ELSE NULL END ) * 100 as "2005" ,
	MAX(CASE WHEN indic_code= 'DE1028V' THEN  "2006" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2006" ELSE NULL END ) * 100 as "2006" ,
	MAX(CASE WHEN indic_code= 'DE1028V' THEN  "2007" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2007" ELSE NULL END ) * 100 as "2007" ,
	MAX(CASE WHEN indic_code= 'DE1028V' THEN  "2008" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2008" ELSE NULL END ) * 100 as "2008" ,
	MAX(CASE WHEN indic_code= 'DE1028V' THEN  "2009" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2009" ELSE NULL END ) * 100 as "2009" ,
	MAX(CASE WHEN indic_code= 'DE1028V' THEN  "2010" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2010" ELSE NULL END ) * 100 as "2010" ,
	MAX(CASE WHEN indic_code= 'DE1028V' THEN  "2011" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2011" ELSE NULL END ) * 100 as "2011" ,
	MAX(CASE WHEN indic_code= 'DE1028V' THEN  "2012" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2012" ELSE NULL END ) * 100 as "2012" ,
	MAX(CASE WHEN indic_code= 'DE1028V' THEN  "2013" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2013" ELSE NULL END ) * 100 as "2013" ,
	MAX(CASE WHEN indic_code= 'DE1028V' THEN  "2014" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2014" ELSE NULL END ) * 100 as "2014" ,
	MAX(CASE WHEN indic_code= 'DE1028V' THEN  "2015" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2015" ELSE NULL END ) * 100 as "2015" ,
	MAX(CASE WHEN indic_code= 'DE1028V' THEN  "2016" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2016" ELSE NULL END ) * 100 as "2016" ,
	MAX(CASE WHEN indic_code= 'DE1028V' THEN  "2017" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2017" ELSE NULL END ) * 100 as "2017" ,
	MAX(CASE WHEN indic_code= 'DE1028V' THEN  "2018" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2018" ELSE NULL END ) * 100 as "2018" ,
	MAX(CASE WHEN indic_code= 'DE1028V' THEN  "2019" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2019" ELSE NULL END ) * 100 as "2019" ,
	MAX(CASE WHEN indic_code= 'DE1028V' THEN  "2020" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2020" ELSE NULL END ) * 100 as "2020" ,
	MAX(CASE WHEN indic_code= 'DE1028V' THEN  "2021" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2021" ELSE NULL END ) * 100 as "2021" 
INTO """+ schema +"."+ name_of_table + """														   
FROM cube.c_city_eurostat
WHERE
  indic_code IN ('DE1028V', 'DE1001V') 

GROUP BY

  urau_code,
  city_code,
  city_code_version,
  lineage,
  datasource;

  
         """)
#print (query)
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
cursor.execute(query)
connection.commit()

print ("end indicator done ")

end indicator done

#### (1.3)  Population structure - Proportion of population aged 75 years and over  [DE1055I] = DE1055V/DE1001V*100

In [7]:
#### (1.3)  Population structure - Proportion of population aged 75 years and over  [DE1055I] = DE1055V/DE1001V*100



################ OUTPUT name:
schema = "cube"
name_of_table = "c_city_eurostat_DE1055I"


## removing table:...........................................S
query_drop = ("DROP TABLE IF EXISTS "+ schema +"."+ name_of_table +" ;") #[DE1055I]
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
cursor.execute(query_drop)
connection.commit()
## removing table:...........................................E

### calc_indicator EC1020I and Export to a new table inside the database:
query = ("""      
SELECT
  urau_code,
         
  'DE1055I' as estat_code,

  city_code,
  city_code_version,
  lineage,
  datasource,
  --DE1055V/DE1001V*100
    MAX(CASE WHEN indic_code= 'DE1055V' THEN  "1991" ELSE NULL END) / MAX( CASE WHEN indic_code=  'DE1001V' THEN  "1991" ELSE NULL END ) * 100 as "1991" ,
	MAX(CASE WHEN indic_code= 'DE1055V' THEN  "1992" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "1992" ELSE NULL END ) * 100 as "1992" ,
	MAX(CASE WHEN indic_code= 'DE1055V' THEN  "1993" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "1993" ELSE NULL END ) * 100 as "1993" ,
	MAX(CASE WHEN indic_code= 'DE1055V' THEN  "1994" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "1994" ELSE NULL END ) * 100 as "1994" ,
	MAX(CASE WHEN indic_code= 'DE1055V' THEN  "1995" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "1995" ELSE NULL END ) * 100 as "1995" ,
	MAX(CASE WHEN indic_code= 'DE1055V' THEN  "1996" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "1996" ELSE NULL END ) * 100 as "1996" ,
	MAX(CASE WHEN indic_code= 'DE1055V' THEN  "1997" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "1997" ELSE NULL END ) * 100 as "1997" ,
	MAX(CASE WHEN indic_code= 'DE1055V' THEN  "1998" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "1998" ELSE NULL END ) * 100 as "1998" ,
	MAX(CASE WHEN indic_code= 'DE1055V' THEN  "1999" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "1999" ELSE NULL END ) * 100 as "1999" ,
	MAX(CASE WHEN indic_code= 'DE1055V' THEN  "2000" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2000" ELSE NULL END ) * 100 as "2000" ,
	MAX(CASE WHEN indic_code= 'DE1055V' THEN  "2001" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2001" ELSE NULL END ) * 100 as "2001" ,
	MAX(CASE WHEN indic_code= 'DE1055V' THEN  "2002" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2002" ELSE NULL END ) * 100 as "2002" ,
	MAX(CASE WHEN indic_code= 'DE1055V' THEN  "2003" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2003" ELSE NULL END ) * 100 as "2003" ,
	MAX(CASE WHEN indic_code= 'DE1055V' THEN  "2004" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2004" ELSE NULL END ) * 100 as "2004" ,
	MAX(CASE WHEN indic_code= 'DE1055V' THEN  "2005" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2005" ELSE NULL END ) * 100 as "2005" ,
	MAX(CASE WHEN indic_code= 'DE1055V' THEN  "2006" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2006" ELSE NULL END ) * 100 as "2006" ,
	MAX(CASE WHEN indic_code= 'DE1055V' THEN  "2007" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2007" ELSE NULL END ) * 100 as "2007" ,
	MAX(CASE WHEN indic_code= 'DE1055V' THEN  "2008" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2008" ELSE NULL END ) * 100 as "2008" ,
	MAX(CASE WHEN indic_code= 'DE1055V' THEN  "2009" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2009" ELSE NULL END ) * 100 as "2009" ,
	MAX(CASE WHEN indic_code= 'DE1055V' THEN  "2010" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2010" ELSE NULL END ) * 100 as "2010" ,
	MAX(CASE WHEN indic_code= 'DE1055V' THEN  "2011" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2011" ELSE NULL END ) * 100 as "2011" ,
	MAX(CASE WHEN indic_code= 'DE1055V' THEN  "2012" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2012" ELSE NULL END ) * 100 as "2012" ,
	MAX(CASE WHEN indic_code= 'DE1055V' THEN  "2013" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2013" ELSE NULL END ) * 100 as "2013" ,
	MAX(CASE WHEN indic_code= 'DE1055V' THEN  "2014" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2014" ELSE NULL END ) * 100 as "2014" ,
	MAX(CASE WHEN indic_code= 'DE1055V' THEN  "2015" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2015" ELSE NULL END ) * 100 as "2015" ,
	MAX(CASE WHEN indic_code= 'DE1055V' THEN  "2016" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2016" ELSE NULL END ) * 100 as "2016" ,
	MAX(CASE WHEN indic_code= 'DE1055V' THEN  "2017" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2017" ELSE NULL END ) * 100 as "2017" ,
	MAX(CASE WHEN indic_code= 'DE1055V' THEN  "2018" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2018" ELSE NULL END ) * 100 as "2018" ,
	MAX(CASE WHEN indic_code= 'DE1055V' THEN  "2019" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2019" ELSE NULL END ) * 100 as "2019" ,
	MAX(CASE WHEN indic_code= 'DE1055V' THEN  "2020" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2020" ELSE NULL END ) * 100 as "2020" ,
	MAX(CASE WHEN indic_code= 'DE1055V' THEN  "2021" ELSE NULL END) / MAX (CASE WHEN indic_code = 'DE1001V' THEN "2021" ELSE NULL END ) * 100 as "2021" 
INTO """+ schema +"."+ name_of_table + """														   
FROM cube.c_city_eurostat
WHERE
  indic_code IN ('DE1055V', 'DE1001V') 
---##DE1055V/DE1001V*100
GROUP BY

  urau_code,
  city_code,
  city_code_version,
  lineage,
  datasource;
  
         """)
#print (query)
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
cursor.execute(query)
connection.commit()

print ("end indicator done ")

end indicator done

#### 2) Bring the THREE calculations into the main eurostat table:

In [11]:
## (2) UNION table :

################ OUTPUT name:
schema = "cube"
name_of_table = "c_city_eurostat_UNION"

## removing table:...........................................S
query_drop = ("DROP TABLE IF EXISTS "+ schema +"."+ name_of_table +" ;") #[DE1055I]
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
cursor.execute(query_drop)
connection.commit()
## removing table:...........................................E


print ("UNION:")

query_union_to_new_table = ("""      
        CREATE TABLE """+schema+"."+name_of_table +"""
        AS
          SELECT  urau_code, estat_code , city_code, city_code_version, lineage, datasource, 
          "1991", "1992", "1993", "1994", "1995", "1996", "1997", "1998", "1999", "2000", "2001", "2002",
          "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015",
          "2016", "2017", "2018", "2019", "2020", "2021"
          FROM cube.c_city_eurostat
          UNION
          SELECT urau_code,  estat_code , city_code, city_code_version, lineage, datasource, 
          "1991", "1992", "1993", "1994", "1995", "1996", "1997", "1998", "1999", "2000", "2001", 
          "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", 
          "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021"
          FROM cube.c_city_eurostat_de1028i
          UNION             
          SELECT urau_code,  estat_code , city_code, city_code_version, lineage, datasource, 
          "1991", "1992", "1993", "1994", "1995", "1996", "1997", "1998", "1999", "2000", "2001", 
          "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", 
          "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021"
          FROM cube.c_city_eurostat_de1055i
          UNION	
          SELECT urau_code,  estat_code , city_code, city_code_version, lineage, datasource, 
          "1991", "1992", "1993", "1994", "1995", "1996", "1997", "1998", "1999", "2000", "2001", 
          "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", 
          "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021"
          FROM cube.c_city_eurostat_ec1020i;
        
         
            
         """)

#print (query_union_to_new_table)
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
cursor.execute(query_union_to_new_table)
connection.commit()


print ("union done!°!")


## (2.1) Adding missing metadata.



print ("A) Add new columns:")
query_new_columns = ("""
         
ALTER TABLE """+schema+"."+name_of_table+""" 
ADD COLUMN parameter VARCHAR
--ADD COLUMN parameter_value FLOAT,
 
         """)

print (query_new_columns)
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
cursor.execute(query_new_columns)
connection.commit()


################ update columns:
print ("B) update new columns:")
query_update_new_columns = ("""
         
UPDATE """+schema+"."+name_of_table+""" 
SET
        parameter = CONCAT('Urban Audit indicators -',estat_code)
;  
            
         """)
print (query_update_new_columns)
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
cursor.execute(query_update_new_columns)
connection.commit()


print ("update of table done!")

UNION:
union done!°!
A) Add new columns:


ALTER TABLE cube.c_city_eurostat_UNION
ADD COLUMN parameter VARCHAR
--ADD COLUMN parameter_value FLOAT,


B) update new columns:


UPDATE cube.c_city_eurostat_UNION
SET
        parameter = CONCAT('Urban Audit indicators -',estat_code)
;


update of table done!

#### 3) Produce a CU table with all indicators and mother table:

In [13]:
## (A) bring  olumns to rows::
## bring sql table to data frame:

schema = "cube"
name_of_table = "cu_city_eurostat_long2"


## open connection:
connection = engine_postgresql.raw_connection()
cursor = connection.cursor()
connection.commit()
## testing reading tables from database:

with engine_postgresql.begin() as conn:
    query_wide_table = text("""
   SELECT urau_code, estat_code, city_code, city_code_version, parameter,lineage, datasource, 
    "1991", "1992", "1993", "1994", "1995", "1996", "1997", "1998", "1999", "2000", "2001", "2002",
    "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014",
    "2015", "2016", "2017", "2018", "2019", "2020", "2021"
            FROM cube.c_city_eurostat_union;
     
    """)
    df_wide_table = pd.read_sql_query(query_wide_table, conn)
    
    
#print (df_wide_table)


print ("Transformation ob table:")



#
df_transformed_table =df_wide_table.melt(id_vars=[
                    'urau_code', 
                    'estat_code', 
                    'city_code', 
                    'city_code_version', 
                    'parameter', 
                    'lineage', 
                    'datasource'
                        ], var_name="year", value_name="parameter_value")


#print(df_transformed_table)

print ("dataframe to sql:")


###################################################
#name_of_table = name_of_table
export_df_to_sql = df_transformed_table  # dataframe to be exported
schmema_name = schema
###################################################
export_df_to_sql.to_sql(name_of_table, engine_postgresql,  schema=schmema_name,if_exists='replace')
print ("end transformation")

Transformation ob table:
dataframe to sql:
end transformation

#### 4) Cleaning database

### Please check uploaded results and remove temp-databses and old-databases

end indicator done