# Access GeoDB

documentation: https://xcube-geodb.readthedocs.io/en/latest/notebooks/geodb_manage_collections.html#Manage-Collections-in-your-GeoDB

In [2]:
from xcube_geodb.core.geodb import GeoDBClient
geodb = GeoDBClient()
geodb.whoami

'geodb_63799e41-2ff0-4273-868b-8dd83afdba4b'

In [8]:
# Lets get already existing collections
ds = geodb.get_my_collections()
ds

,owner,database,collection
0,geodb_49a05d04-5d72-4c0f-9065-6e6827fd1871,anja,E1
1,geodb_49a05d04-5d72-4c0f-9065-6e6827fd1871,anja,E10a1
2,geodb_49a05d04-5d72-4c0f-9065-6e6827fd1871,anja,E10a2
3,geodb_49a05d04-5d72-4c0f-9065-6e6827fd1871,anja,E11
4,geodb_49a05d04-5d72-4c0f-9065-6e6827fd1871,anja,E1a
...,...,...,...
914,geodb_b34bfae7-9265-4a3e-b921-06549d3c6035,stac_test,ge_train_tier_2_labels
915,geodb_b34bfae7-9265-4a3e-b921-06549d3c6035,stac_test,ge_train_tier_2_source
916,geodb_b34bfae7-9265-4a3e-b921-06549d3c6035,stac_test,ties_ai_challenge_test
917,geodb_d2c4722a-cc19-4ec1-b575-0cdb6876d4a7,test_duplicate,test
918,None,None,None

In [9]:
ds[ds.owner==geodb.whoami]

,owner,database,collection
861,geodb_63799e41-2ff0-4273-868b-8dd83afdba4b,geodb_63799e41-2ff0-4273-868b-8dd83afdba4b,fairicube_uc1_test

In [7]:
# Have a look at fiona feature schema
collections = {
        "fairicube_uc1_test":
        {
            "crs": 3794,
            "properties":
            {
                "RABA_PID": "float",
                "RABA_ID": "float",
                "D_OD": "date"
            }
        }
    }


geodb.create_collections(collections, clear=True)