# KNN imputer for population Gap filling
This is not a appropriate option for this specific

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.impute import KNNImputer
import numpy as np
import math

## Upload data (only cities with complete data)

In [2]:
df = pd.read_csv('CompleteData.csv', header=None, na_values='?')
df.drop(df.columns[[0, 1, 2]], axis=1, inplace=True)
df = df.tail(-1)

In [3]:
df.head()

,3,4,5,6,7,8,9,10,11,12,...,24,25,26,27,28,29,30,31,32,33
1,9986975.0,10021997.0,10068319.0,10100631.0,10130574.0,10143047.0,10170226.0,10192264.0,10213752.0,10239085.0,...,11094850.0,11161642.0,11203992.0,11258434.0,11307192.0,11351727.0,11398589.0,11455519.0,11522440.0,11554767.0
2,954045.0,951217.0,950339.0,949070.0,951580.0,948122.0,950597.0,953175.0,954460.0,964405.0,...,1159448.0,1174624.0,1183841.0,1196831.0,1201129.0,1199095.0,1205492.0,1215289.0,1223364.0,1226329.0
3,467518.0,465783.0,465102.0,462880.0,459072.0,455852.0,453030.0,449745.0,447632.0,446525.0,...,507368.0,512230.0,513915.0,515593.0,517731.0,520859.0,523591.0,526439.0,530014.0,530627.0
4,230246.0,230232.0,229821.0,228490.0,227483.0,226464.0,225469.0,224545.0,224074.0,224180.0,...,249205.0,249754.0,251984.0,253914.0,257226.0,259462.0,260329.0,262205.0,263687.0,264019.0
5,206214.0,206903.0,207045.0,206898.0,206491.0,205591.0,204899.0,203853.0,202020.0,200827.0,...,204762.0,204826.0,203640.0,203228.0,202602.0,201884.0,202341.0,202637.0,203314.0,238412.0

## Damage a few randomly selected cells

In [4]:
a = 10
b = 10
df_damaged = df.copy()
rowID = np.random.choice(range(0, len(df_damaged)), size=a, replace=False)
columnID = np.random.choice(range(0, len(df_damaged.columns)), size=b, replace=False)
for j in columnID:
    for i in rowID:
        df_damaged.iloc[i,j]= np.nan

In [5]:
 print("(Size, Missing): (", df_damaged.size, ", ", df_damaged.isna().sum().sum(), ")")

(Size, Missing): ( 1581 ,  100 )

## KNN imputer

In [6]:
imputer = KNNImputer(n_neighbors=4)
imputed = imputer.fit_transform(df_damaged)
df_imputed = pd.DataFrame(imputed, columns=df_damaged.columns)

## Evaluation

In [7]:
def error(list1, list2, df, df_imputed):
    s = 0
    for j in list2:
        for i in list1:
            diff = df.iloc[i,j] - df_imputed.iloc[i,j]
            s = s + (diff**2)
    s = s/(len(list1)*len(list2))
    return math.sqrt(s)
print("RMSE: ", error(rowID, columnID, df, df_imputed))

RMSE:  40857.71993388306